.icon {
  background-repeat: no-repeat; }

.icon-billomat {
  background-image: url(../icons/billomat.svg); }

.icon-billomat-dims {
  width: 764.753px;
  height: 172.913px; }

.icon-billomat-dims-ph {
  padding-top: 22.610306857246723%; }

.icon-billomat-grey {
  background-image: url(../icons/billomat-grey.svg); }

.icon-billomat-grey-dims {
  width: 764.753px;
  height: 172.913px; }

.icon-billomat-grey-dims-ph {
  padding-top: 22.610306857246723%; }

.icon-coderdojo-button {
  background-image: url(../icons/coderdojo-button.svg); }

.icon-coderdojo-button-dims {
  width: 255px;
  height: 255px; }

.icon-coderdojo-button-dims-ph {
  padding-top: 100%; }

.icon-coderdojo-dark-horizontal {
  background-image: url(../icons/coderdojo-dark-horizontal.svg); }

.icon-coderdojo-dark-horizontal-dims {
  width: 400px;
  height: 119.259px; }

.icon-coderdojo-dark-horizontal-dims-ph {
  padding-top: 29.81475%; }

.icon-coderdojo-dark-vertical {
  background-image: url(../icons/coderdojo-dark-vertical.svg); }

.icon-coderdojo-dark-vertical-dims {
  width: 420.055px;
  height: 500px; }

.icon-coderdojo-dark-vertical-dims-ph {
  padding-top: 119.03203151968195%; }

.icon-coderdojo-light-horizontal {
  background-image: url(../icons/coderdojo-light-horizontal.svg); }

.icon-coderdojo-light-horizontal-dims {
  width: 400px;
  height: 119.259px; }

.icon-coderdojo-light-horizontal-dims-ph {
  padding-top: 29.81475%; }

.icon-craftplaces {
  background-image: url(../icons/craftplaces.svg); }

.icon-craftplaces-dims {
  width: 181.62px;
  height: 196.649px; }

.icon-craftplaces-dims-ph {
  padding-top: 108.27496971699152%; }

.icon-craftplaces-grey {
  background-image: url(../icons/craftplaces-grey.svg); }

.icon-craftplaces-grey-dims {
  width: 181.62px;
  height: 196.649px; }

.icon-craftplaces-grey-dims-ph {
  padding-top: 108.27496971699152%; }

.icon-curt {
  background-image: url(../icons/curt.svg); }

.icon-curt-dims {
  width: 133.229px;
  height: 133.228px; }

.icon-curt-dims-ph {
  padding-top: 99.9992494126654%; }

.icon-curt-grey {
  background-image: url(../icons/curt-grey.svg); }

.icon-curt-grey-dims {
  width: 133.229px;
  height: 133.229px; }

.icon-curt-grey-dims-ph {
  padding-top: 100%; }

.icon-curtkids {
  background-image: url(../icons/curtkids.svg); }

.icon-curtkids-dims {
  width: 501.965px;
  height: 501.891px; }

.icon-curtkids-dims-ph {
  padding-top: 99.9852579363103%; }

.icon-curtkids-grey {
  background-image: url(../icons/curtkids-grey.svg); }

.icon-curtkids-grey-dims {
  width: 501.965px;
  height: 501.891px; }

.icon-curtkids-grey-dims-ph {
  padding-top: 99.9852579363103%; }

.icon-digitalwerkstatt {
  background-image: url(../icons/digitalwerkstatt.svg); }

.icon-digitalwerkstatt-dims {
  width: 100px;
  height: 79.126px; }

.icon-digitalwerkstatt-dims-ph {
  padding-top: 79.126%; }

.icon-digitalwerkstatt-grey {
  background-image: url(../icons/digitalwerkstatt-grey.svg); }

.icon-digitalwerkstatt-grey-dims {
  width: 100px;
  height: 79.126px; }

.icon-digitalwerkstatt-grey-dims-ph {
  padding-top: 79.126%; }

.icon-facebook,
.icon-facebook\:regular {
  background-image: url(../icons/facebook.svg); }

.icon-facebook-dims {
  width: 32px;
  height: 32px; }

.icon-facebook-dims-ph {
  padding-top: 100%; }

.icon-facebook:hover,
.icon-facebook\:hover {
  background-image: url(../icons/facebook~hover.svg); }

.icon-facebook-dims:hover,
.icon-facebook\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-facebook-dims:hover-ph,
.icon-facebook\:hover-dims-ph {
  padding-top: 100%; }

.icon-github,
.icon-github\:regular {
  background-image: url(../icons/github.svg); }

.icon-github-dims {
  width: 32px;
  height: 32px; }

.icon-github-dims-ph {
  padding-top: 100%; }

.icon-github:hover,
.icon-github\:hover {
  background-image: url(../icons/github~hover.svg); }

.icon-github-dims:hover,
.icon-github\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-github-dims:hover-ph,
.icon-github\:hover-dims-ph {
  padding-top: 100%; }

.icon-googleplus,
.icon-googleplus\:regular {
  background-image: url(../icons/googleplus.svg); }

.icon-googleplus-dims {
  width: 32px;
  height: 32px; }

.icon-googleplus-dims-ph {
  padding-top: 100%; }

.icon-googleplus:hover,
.icon-googleplus\:hover {
  background-image: url(../icons/googleplus~hover.svg); }

.icon-googleplus-dims:hover,
.icon-googleplus\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-googleplus-dims:hover-ph,
.icon-googleplus\:hover-dims-ph {
  padding-top: 100%; }

.icon-immowelt {
  background-image: url(../icons/immowelt.svg); }

.icon-immowelt-dims {
  width: 100.049px;
  height: 18.069px; }

.icon-immowelt-dims-ph {
  padding-top: 18.06015052624214%; }

.icon-immowelt-grey {
  background-image: url(../icons/immowelt-grey.svg); }

.icon-immowelt-grey-dims {
  width: 100.049px;
  height: 18.069px; }

.icon-immowelt-grey-dims-ph {
  padding-top: 18.06015052624214%; }

.icon-insfx {
  background-image: url(../icons/insfx.svg); }

.icon-insfx-dims {
  width: 100px;
  height: 41.28px; }

.icon-insfx-dims-ph {
  padding-top: 41.28%; }

.icon-insfx-grey {
  background-image: url(../icons/insfx-grey.svg); }

.icon-insfx-grey-dims {
  width: 100px;
  height: 41.28px; }

.icon-insfx-grey-dims-ph {
  padding-top: 41.28%; }

.icon-kgh {
  background-image: url(../icons/kgh.svg); }

.icon-kgh-dims {
  width: 100px;
  height: 39.551px; }

.icon-kgh-dims-ph {
  padding-top: 39.551%; }

.icon-kgh-grey {
  background-image: url(../icons/kgh-grey.svg); }

.icon-kgh-grey-dims {
  width: 100px;
  height: 39.551px; }

.icon-kgh-grey-dims-ph {
  padding-top: 39.551%; }

.icon-lni {
  background-image: url(../icons/lni.svg); }

.icon-lni-dims {
  width: 100px;
  height: 63.891px; }

.icon-lni-dims-ph {
  padding-top: 63.89099999999999%; }

.icon-lni-grey {
  background-image: url(../icons/lni-grey.svg); }

.icon-lni-grey-dims {
  width: 100px;
  height: 63.891px; }

.icon-lni-grey-dims-ph {
  padding-top: 63.89099999999999%; }

.icon-location,
.icon-location\:regular {
  background-image: url(../icons/location.svg); }

.icon-location-dims {
  width: 54px;
  height: 96px; }

.icon-location-dims-ph {
  padding-top: 177.77777777777777%; }

.icon-location:hover,
.icon-location\:hover {
  background-image: url(../icons/location~hover.svg); }

.icon-location-dims:hover,
.icon-location\:hover-dims {
  width: 54px;
  height: 96px; }

.icon-location-dims:hover-ph,
.icon-location\:hover-dims-ph {
  padding-top: 177.77777777777777%; }

.icon-ndf {
  background-image: url(../icons/ndf.svg); }

.icon-ndf-dims {
  width: 100px;
  height: 45.386px; }

.icon-ndf-dims-ph {
  padding-top: 45.386%; }

.icon-ndf-grey {
  background-image: url(../icons/ndf-grey.svg); }

.icon-ndf-grey-dims {
  width: 100px;
  height: 45.386px; }

.icon-ndf-grey-dims-ph {
  padding-top: 45.386%; }

.icon-netatmo {
  background-image: url(../icons/netatmo.svg); }

.icon-netatmo-dims {
  width: 100px;
  height: 24.842px; }

.icon-netatmo-dims-ph {
  padding-top: 24.842%; }

.icon-netatmo-grey {
  background-image: url(../icons/netatmo-grey.svg); }

.icon-netatmo-grey-dims {
  width: 100px;
  height: 24.842px; }

.icon-netatmo-grey-dims-ph {
  padding-top: 24.842%; }

.icon-netlogix {
  background-image: url(../icons/netlogix.svg); }

.icon-netlogix-dims {
  width: 100px;
  height: 26.667px; }

.icon-netlogix-dims-ph {
  padding-top: 26.667%; }

.icon-netlogix-grey {
  background-image: url(../icons/netlogix-grey.svg); }

.icon-netlogix-grey-dims {
  width: 100px;
  height: 26.667px; }

.icon-netlogix-grey-dims-ph {
  padding-top: 26.667%; }

.icon-nueww {
  background-image: url(../icons/nueww.svg); }

.icon-nueww-dims {
  width: 100px;
  height: 59.549px; }

.icon-nueww-dims-ph {
  padding-top: 59.549%; }

.icon-nueww-grey {
  background-image: url(../icons/nueww-grey.svg); }

.icon-nueww-grey-dims {
  width: 100px;
  height: 59.549px; }

.icon-nueww-grey-dims-ph {
  padding-top: 59.549%; }

.icon-paessler {
  background-image: url(../icons/paessler.svg); }

.icon-paessler-dims {
  width: 740.878px;
  height: 147.778px; }

.icon-paessler-dims-ph {
  padding-top: 19.946333944320116%; }

.icon-paessler-grey {
  background-image: url(../icons/paessler-grey.svg); }

.icon-paessler-grey-dims {
  width: 740.878px;
  height: 147.778px; }

.icon-paessler-grey-dims-ph {
  padding-top: 19.946333944320116%; }

.icon-psd {
  background-image: url(../icons/psd.svg); }

.icon-psd-dims {
  width: 606.293px;
  height: 643.132px; }

.icon-psd-dims-ph {
  padding-top: 106.07610511749269%; }

.icon-psd-grey {
  background-image: url(../icons/psd-grey.svg); }

.icon-psd-grey-dims {
  width: 606.293px;
  height: 643.132px; }

.icon-psd-grey-dims-ph {
  padding-top: 106.07610511749269%; }

.icon-schaffensschwestern {
  background-image: url(../icons/schaffensschwestern.svg); }

.icon-schaffensschwestern-dims {
  width: 220px;
  height: 80px; }

.icon-schaffensschwestern-dims-ph {
  padding-top: 36.36363636363637%; }

.icon-schaffensschwestern-grey {
  background-image: url(../icons/schaffensschwestern-grey.svg); }

.icon-schaffensschwestern-grey-dims {
  width: 220px;
  height: 80px; }

.icon-schaffensschwestern-grey-dims-ph {
  padding-top: 36.36363636363637%; }

.icon-shiftschool {
  background-image: url(../icons/shiftschool.svg); }

.icon-shiftschool-dims {
  width: 100px;
  height: 10.664px; }

.icon-shiftschool-dims-ph {
  padding-top: 10.663999999999998%; }

.icon-shiftschool-grey {
  background-image: url(../icons/shiftschool-grey.svg); }

.icon-shiftschool-grey-dims {
  width: 100px;
  height: 10.664px; }

.icon-shiftschool-grey-dims-ph {
  padding-top: 10.663999999999998%; }

.icon-silbury {
  background-image: url(../icons/silbury.svg); }

.icon-silbury-dims {
  width: 100px;
  height: 20.876px; }

.icon-silbury-dims-ph {
  padding-top: 20.875999999999998%; }

.icon-silbury-grey {
  background-image: url(../icons/silbury-grey.svg); }

.icon-silbury-grey-dims {
  width: 100px;
  height: 20.876px; }

.icon-silbury-grey-dims-ph {
  padding-top: 20.875999999999998%; }

.icon-tollwerk {
  background-image: url(../icons/tollwerk.svg); }

.icon-tollwerk-dims {
  width: 324px;
  height: 86px; }

.icon-tollwerk-dims-ph {
  padding-top: 26.54320987654321%; }

.icon-tollwerk-grey {
  background-image: url(../icons/tollwerk-grey.svg); }

.icon-tollwerk-grey-dims {
  width: 324px;
  height: 86px; }

.icon-tollwerk-grey-dims-ph {
  padding-top: 26.54320987654321%; }

.icon-twitter,
.icon-twitter\:regular {
  background-image: url(../icons/twitter.svg); }

.icon-twitter-dims {
  width: 32px;
  height: 32px; }

.icon-twitter-dims-ph {
  padding-top: 100%; }

.icon-twitter:hover,
.icon-twitter\:hover {
  background-image: url(../icons/twitter~hover.svg); }

.icon-twitter-dims:hover,
.icon-twitter\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-twitter-dims:hover-ph,
.icon-twitter\:hover-dims-ph {
  padding-top: 100%; }

.icon-ucs {
  background-image: url(../icons/ucs.svg); }

.icon-ucs-dims {
  width: 100px;
  height: 100px; }

.icon-ucs-dims-ph {
  padding-top: 100%; }

.icon-ucs-grey {
  background-image: url(../icons/ucs-grey.svg); }

.icon-ucs-grey-dims {
  width: 100px;
  height: 100px; }

.icon-ucs-grey-dims-ph {
  padding-top: 100%; }

.icon-vrbank {
  background-image: url(../icons/vrbank.svg); }

.icon-vrbank-dims {
  width: 134.786px;
  height: 54.919px; }

.icon-vrbank-dims-ph {
  padding-top: 40.745329633641475%; }

.icon-vrbank-grey {
  background-image: url(../icons/vrbank-grey.svg); }

.icon-vrbank-grey-dims {
  width: 134.786px;
  height: 54.919px; }

.icon-vrbank-grey-dims-ph {
  padding-top: 40.745329633641475%; }

.icon-wbg {
  background-image: url(../icons/wbg.svg); }

.icon-wbg-dims {
  width: 110.443px;
  height: 71.942px; }

.icon-wbg-dims-ph {
  padding-top: 65.13948371558179%; }

.icon-wbg-grey {
  background-image: url(../icons/wbg-grey.svg); }

.icon-wbg-grey-dims {
  width: 110.443px;
  height: 71.942px; }

.icon-wbg-grey-dims-ph {
  padding-top: 65.13948371558179%; }

/*# sourceMappingURL=icon.svg-image.css.map */