.mentor {

	> a {
		padding: 2em;
	}

	figure {
		text-align: left;
		display: table;
		table-layout: auto;
		margin: 0 auto;

		& > * {
			display: table-cell;
			vertical-align: top;
		}

		& > div {
			width: 150px;
		}

		h2, h3 {
			margin-top: 0;
			text-align: left;
		}
	}

	figcaption {
		padding: 1em 0 0 2em;
	}

	section {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.mentors .mentor figure {
	width: 100%;
	margin: 0;
}

.mentor-social {
	text-align: left;
}