.ce-twcoderdojo_date {
	header {
		padding: 1em 2em;
	}

	.date {
		a {
			padding: 2em;
		}
	}

	.date-details {
		.date-intro, .mentor-intro {
			padding: 1em 2em;
		}
		.date-intro {
			padding-bottom: 2em;
		}
	}
}