<f:if condition="{hours}">
    <f:then><f:if condition="{end}">
        <f:then><f:if condition="{f:format.date(date: start, format: 'd.m.Y')} != {f:format.date(date: end, format: 'd.m.Y')}">
            <f:then><time class="dt-start" itemprop="startDate" datetime="{f:format.date(date: start, format: 'c')}"><f:format.date format="{f:translate(key: 'format.start.date')}">{start}</f:format.date> <span class="expanded"><f:translate key="format.from.expanded"/></span><span class="collapsed"><f:translate key="format.from.collapsed"/></span> <f:format.date format="{f:translate(key: 'format.start.time')}">{start}</f:format.date> <f:translate key="format.oclock"/></time><span class="expanded"> <f:translate key="format.to"/>
                    <time class="dt-end" itemprop="endDate" datetime="{f:format.date(date: end, format: 'c')}"><f:format.date format="{f:translate(key: 'format.start.date')}">{end}</f:format.date> <f:translate key="format.until"/> <f:format.date format="{f:translate(key: 'format.start.time')}">{end}</f:format.date></time></span> <f:translate key="format.oclock"/>
            </f:then>
            <f:else><time class="dt-start" itemprop="startDate" datetime="{f:format.date(date: start, format: 'c')}"><f:format.date format="{f:translate(key: 'format.start.date')}">{start}</f:format.date> <span class="expanded"><f:translate key="format.from.expanded"/></span><span class="collapsed"><f:translate key="format.from.collapsed"/></span> <f:format.date format="{f:translate(key: 'format.start.time')}">{start}</f:format.date></time><span class="expanded"> <f:translate key="format.to"/> <time class="dt-end" itemprop="endDate" datetime="{f:format.date(date: end, format: 'c')}"><f:format.date format="{f:translate(key: 'format.start.time')}">{end}</f:format.date></time></span> <f:translate key="format.oclock"/>
            </f:else>
        </f:if>
        </f:then>
        <f:else><time class="dt-start" itemprop="startDate" datetime="{f:format.date(date: start, format: 'c')}"><f:format.date format="{f:translate(key: 'format.start.date')}">{start}</f:format.date> <span class="expanded"><f:translate key="format.from.expanded"/></span><span class="collapsed"><f:translate key="format.from.collapsed"/></span> <f:format.date format="{f:translate(key: 'format.start.time')}">{start}</f:format.date> <f:translate key="format.oclock"/></time>
        </f:else>
    </f:if>
    </f:then>
    <f:else><f:if condition="{end}">
        <f:then><f:if condition="{f:format.date(date: start, format: 'd.m.Y')} != {f:format.date(date: end, format: 'd.m.Y')}">
            <f:then><time class="dt-start" itemprop="startDate" datetime="{f:format.date(date: start, format: 'c')}"><f:format.date format="{f:translate(key: 'format.daymonth')}">{start}</f:format.date></time> <f:translate key="format.to"/> <time class="dt-end" itemprop="endDate" datetime="{f:format.date(date: end, format: 'c')}"><f:format.date format="{f:translate(key: 'format.start.date')}">{end}</f:format.date></time>
            </f:then>
            <f:else><time class="dt-start" itemprop="startDate" datetime="{f:format.date(date: start, format: 'c')}"><f:format.date format="{f:translate(key: 'format.start.date')}">{start}</f:format.date></time>
            </f:else>
        </f:if>
        </f:then>
        <f:else><time class="dt-start" itemprop="startDate" datetime="{f:format.date(date: start, format: 'c')}"><f:format.date format="{f:translate(key: 'format.start.date')}">{start}</f:format.date></time>
        </f:else>
    </f:if>
    </f:else>
</f:if>
