<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

    <!-- Header with next event date -->
    <f:section name="WithDate">
        <header role="banner" class="{f:if(condition: '{header}', then: 'expanded', else: 'collapsed')}">
            <div class="banner h-event" itemscope="itemscope" itemtype="http://schema.org/Event">
                <img src="/fileadmin/coderdojo/icons/coderdojo-dark-horizontal.svg" itemprop="photo" alt="{f:translate(key: 'date.alt', arguments: '{0: \'{date.start -> f:format.date(format: \\\'{f:translate(key: \\\\\\\'format.datetime\\\\\\\')}\\\')}\'}')}"/>
                <f:link.page pageUid="1" absolute="1" title="{f:translate(key: 'home')}" class="home">
                    <h1 class="p-name" itemprop="name">CoderDojo Nürnberg</h1>
                    <p class="p-summary icon icon-coderdojo-dark-{f:if(condition: '{header}', then: 'vertical', else: 'horizontal')}" itemprop="summary"><span><f:translate key="summary"/></span></p>
                </f:link.page>
                <f:if condition="{header}"><div></f:if>
                <f:link.action action="show" extensionName="TwCoderdojo" pluginName="Date" controller="Date" pageUid="{settings.pages.datePid}" arguments="{date: date}" class="schedule u-url" additionalAttributes="{itemprop: 'url'}" absolute="1">
                    <span class="schedule-label">
                        <f:if condition="{nextLabel}">
                            <f:then>
                                <f:translate key="nextdate"/>
                            </f:then>
                            <f:else>
                                <f:translate key="nextdate.at"/>
                            </f:else>
                        </f:if>
                    </span>
                    <span class="schedule-datetime">
                        <f:render partial="Date" arguments="{hours: 1, start: date.start, end: date.end}"/>
                    </span>
                </f:link.action>
                <a class="address p-location h-card" itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Organization" href="{f:if(condition: '{date.location.googlemaps}', then: '{date.location.googlemaps}', else: 'http://maps.google.com/maps?q={date.location.latitude},{date.location.longitude}')}" target="_blank">
                    <div class="icon icon-location">
                        <div class="p-name p-label p-org" itemprop="name">{date.location.name}</div>
                        <div class="p-adr h-adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/Address">
                            <div class="p-street-address" itemprop="street-address">{date.location.streetAddress}</div>
                            <div>
                                <span class="p-postal-code" itemprop="postal-code">{date.location.postalCode}</span>
                                <span class="p-locality" itemprop="locality">{date.location.locality}</span>
                                <span class="hide">, <span class="p-country" itemprop="country-name">{date.location.country.shortNameDe}</span></span>
                                    <span class="hide" itemprop="geo" itemscope="itemscope" itemtype="http://schema.org/Geo">
                                        <span class="p-latitude" itemprop="latitude">{date.location.latitude}</span>
                                        <span class="p-longitude" itemprop="longitude">{date.location.longitude}</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </a>
                <f:if condition="{header}"></div></f:if>
            </div>
        </header>
    </f:section>

    <!-- Header without event date -->
    <f:section name="WithoutDate">

    </f:section>

  <!-- Take A Seat header -->
  <f:section name="TakeASeat">
    <nav><div class="wrap"><a href="#c42" class="internal-link" title="Was ist das CoderDojo Nürnberg">CoderDojo</a><a href="#c49" class="internal-link" title="Remo Plastic Chairs für unsere Ninjas">Stühle</a><a href="#c54" class="internal-link" title="Crowdfunding-Ralley vom 1. bis 30. November">Crowdfunding</a><a href="#c52" class="internal-link" title="Die tollwerkstatt — ein Ort für kreative Tech-Events">tollwerkstatt</a></div></nav>
    <header role="banner" class="take-a-seat">
      <div class="banner-outer">
        <div class="wrap">
          <f:link.page pageUid="1" absolute="1" title="{f:translate(key: 'home')}" class="home">
            <img src="/fileadmin/coderdojo/icons/coderdojo-dark-horizontal.svg" itemprop="photo" alt="Logo des CoderDojo Nürnberg"/>
          </f:link.page>
          <a href="#c54" class="block"><h1 class="p-name tas-title" itemprop="name"><f:translate key="tas.title"/></h1></a>
        </div>
      </div>
      <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Event",
            "description": "Stühle, Ninjas ... was? Ganz einfach: Ninjas sind all die Kinder und Jugendlichen, die sich regelmäßig bei uns im CoderDojo Nürnberg treffen, um gemeinsam Programmieren zu lernen und sich im Umgang mit Computern zu üben. Nach unserem gelungenen Start im April 2016 und inzwischen 4 erfolgreichen Dojos möchten wir unseren Schützlingen weiter Neues bieten — und würden am liebsten mit einem beginnen: Stühle.",
            "startDate": "2016-11-01T00:00:00+01:00",
            "endDate": "2016-11-30T23:59:59+01:00",
            "location": {
              "@type": "Place",
              "name": "tollwerkstatt",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "Klingenhofstraße 5",
                "postalCode": "90411",
                "addressLocality": "Nürnberg",
                "addressCountry": "DE"
              },
              "url": "https://coderdojo-nbg.org"
            },
            "name": "Take A Seat ☯ Crowdfunding-Ralley des CoderDojo Nürnberg vom 1. bis 30. November 2016",
            "image": "https://coderdojo-nbg.org/fileadmin/coderdojo/icons/coderdojo-dark-horizontal.svg",
            "url": "https://coderdojo-nbg.org/take-a-seat.html"
          }
      </script>
    </header>
  </f:section>
</div>
