<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="columns" options="{group: 'FCE'}">
		</flux:form>
    <flux:grid>
      <flux:grid.row>
        <flux:grid.column colPos="0" name="left"/>
        <flux:grid.column colPos="0" name="right"/>
      </flux:grid.row>
    </flux:grid>
	</f:section>

	<f:section name="Main">
		<div id="c{record.uid}" class="columns">
      <div class="columns-left">
        <flux:content.render area="left" />
      </div>
      <div class="columns-right">
        <flux:content.render area="right" />
      </div>
    </div>
	</f:section>
</div>
