<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="counter" options="{group: 'FCE'}">
      <flux:field.input name="count"/>
		</flux:form>
	</f:section>

	<f:section name="Main">
    <f:alias map="{days: '{v:math.subtract(a: \'30\', b: \'{f:format.date(format: \\\'j\\\', date: \\\'now\\\')}\')}'}">
		<div id="c{record.uid}" class="counter">
      <svg class="animation-wrapper background"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#emblem"></use></svg>
      <svg class="animation-wrapper foreground"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#emblem"></use></svg>
      <span><span><f:translate key="tas.counter" arguments="{0: count, 1: days}"/></span></span>
    </div>
    </f:alias>
	</f:section>
</div>
