*
!.gitignore

!/fileadmin
!/fileadmin/coderdojo/
!/fileadmin/coderdojo/**
!/fileadmin/user_upload/
!/fileadmin/user_upload/download
!/fileadmin/user_upload/download/**
!/fileadmin/user_upload/images
!/fileadmin/user_upload/images/**
!/fileadmin/user_upload/logos
!/fileadmin/user_upload/logos/**
!/fileadmin/user_upload/mentors
!/fileadmin/user_upload/mentors/**
!/fileadmin/user_upload/sponsors
!/fileadmin/user_upload/sponsors/**

!/typo3conf/ext
!/typo3conf/ext/tw_coderdojo/
!/typo3conf/ext/tw_coderdojo/**
!/typo3conf/ext/tw_coderdojo_ft3/
!/typo3conf/ext/tw_coderdojo_ft3/**

!/typo3conf
!/typo3conf/CoolUriConf.xml
!/typo3conf/LocalConfiguration.php
!/typo3conf/AdditionalConfiguration.php
!/typo3conf/PackageStates.php

!.htaccess
!.yo-rc.json
!google*.html
!Gruntfile.js
!robots.txt
!favicon.ico
