html, body {
    padding: 0;
    margin: 0;
    background-color: $bgcolorBody;
    color: $colorBody;
}

body, a, input, textarea, button {
    line-height: 1.6;
    font-family: $fontFamily;
    font-size: medium;
}

address {
    font-style: normal;
}

a {
    color: $colorBody;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

label {
    display: block;
    cursor: pointer;
}

.wrap {
    max-width: $breakpoint003;
    margin: 0 auto;
}

.hide {
    display: none;
}

.green {
    &, main, [role=contentinfo] {
        background-color: $bgcolorGreen;
        color: $colorGreen;
    }
}

.blue {
    &, main, [role=contentinfo] {
        background-color: $bgcolorBlue;
        color: $colorBlue;
    }
}

.yellow {
    &, main, [role=contentinfo] {
        background-color: $bgcolorYellow;
        color: $colorYellow;
    }
}

.red {
    &, main, [role=contentinfo] {
        background-color: $bgcolorRed;
        color: $colorRed;
    }
}

.white {
    &, main, [role=contentinfo] {
        background-color: $bgcolorWhite;
        color: $colorWhite;
    }
}

h2 {
    @include font-size(2, xx-large);
    font-weight: lighter;
    line-height: 1.2;
}

h3 {
    @include font-size(1.2, larger);
    line-height: 1.2;
    margin: 1em 0;
}

abbr {
    text-decoration: none;
}