* {
    font-family: $fontFamily;
    font-size: medium;
}

body {
    padding: 0;
    margin: 0;
    background-color: $bgcolorBody;
    color: $colorBody;

    > * {
        padding: 1em;
    }
}

.hide {
    display: none;
}