.ce-textpic, .ce-html, .ce-twcoderdojo_date {
	background-color: $bgcolorContent;
}

.ce-body, .ce-html {
	padding: 1em;
}

.ce-formhandler_pi1 {
	padding: 2em 1em;
}

.ce-layout-1, .ce-formhandler_pi1 {
	background-color: $bgcolorHeader;

	&, a {
		color: $colorHeader;
	}
}

dl.contact {
	dt, dd {
		display: block;

		p {
			margin: 0;
		}
	}
	dt {
		clear: left;
		float: left;
		width: 6em;
	}
	dd {
		margin-left: 6em;
	}
}

.ce-textpic li {
	margin: 1em 0;
}

.back {
	display: block;
	padding: 1em;
}