header[role=banner] {
	padding: 2em 1em 4em 1em;
	color: $colorHeader;
	background-color: $bgcolorHeader;
	text-align: center;

	img {
		display: none;
	}

	a {
		color: $colorHeader;
		text-decoration: none;
	}

	h1 {
		@include hide-visible;
	}

	.home {
		display: block;
		max-width: 400px;
		margin: 0 auto;
	}

	.p-summary {
		background-size: contain;
		height: 0;
		margin: 0;

		span {
			@include hide-visible;
		}

		&.icon-coderdojo-dark-horizontal {
			padding-bottom: 30%;
		}

		&.icon-coderdojo-dark-vertical {
			padding-bottom: 118.76484561%;
		}
	}

	.schedule {
		display: block;
		margin: 1em 0 2em 0;

		&:hover .schedule-datetime {
			text-decoration: underline;
		}
	}

	.schedule-label,
	.schedule-datetime {
		display: block;
	}

	.schedule-datetime {
		font-weight: bold;
	}

	.address {
		display: inline-block;
		margin: 0 auto;
		text-align: left;
		background-size: contain;
		padding-left: 3.5em;

		&:hover {
			color: $colorHeader;
		}
	}

	.collapsed {
		display: none;
	}

	&.collapsed {
		padding: 1em 0 3em 0;

		.banner {
			display: table;
			width: 100%;
			max-width: $breakpoint003;
			margin: 0 auto;
			table-layout: fixed;

			& > a {
				display: table-cell;
				vertical-align: middle;
				padding: 0 1em;
				@include font-size(.83, smaller);
				line-height: 1.4
			}

			.address {
				display: none;
			}

			.collapsed {
				display: inline;
			}

			.expanded {
				display: none;
			}
		}
	}
}