nav {
	margin-top: -2em;
	background-color: $bgcolorHeader;

	a {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		text-align: center;
		text-decoration: none;
		padding: 1em 0;
		margin: 1em 0 0 0;
		text-transform: uppercase;

		&:hover {
			color: $colorNavigationHover;
		}

		&.active {
			padding: 1.5em 0;
			margin: 0;
		}
	}
}