.ce-twcoderdojo_mentor {
	background-color: $bgcolorInverseContent;

	&, & a {
		color: $colorInverseContent;
	}
}

.mentor {
	box-sizing: border-box;

	figure {
		text-align: center;

		h2, h3 {
			text-align: center;
		}
	}

	img {
		border-radius: 50%;
		margin: 1em 0;
		transition: transform 200ms;
	}

	> a {
		display: block;
		padding: 1em 1em 3em 1em;
		text-decoration: none;

		&:hover img {
			transform: scale(1.05);
		}
	}

	figcaption {
		text-align: left;
	}

	dl {
		margin: 1em 0 0 0;
	}

	dt, dd {
		margin: 0;
		padding: 0;
	}

	dt {
		float: left;
		clear: left;
		font-weight: bold;
	}

	dd {
		margin-left: 6em;
	}

	section {
		padding: 1em;
	}

	.mentor-header {
		margin-top: 0;
		padding-bottom: 2em;
		background-color: lighten($bgcolorBodyLightest, 23%);
	}
}

.mentors {
	margin: 0;
	padding: 0;
	list-style-type: none;

	.mentor {
		padding: 0;
	}

	.mentor:nth-child(even) {
		background-color: lighten($bgcolorYellow, 32%);
	}

	.mentor:hover {
		background-color: $bgcolorYellow;
	}
}

.mentor-skills {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.mentor-skill {
	display: inline-block;
	margin: 0 .2em .2em 0;
	padding: .2em .5em;
	background-color: $bgcolorContent;
	color: $colorBody;
	border-radius: .3em;
}

.mentor-social {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;

	li {
		display: inline-block;
	}

	a {
		@include shift-off-screen;
		display: inline-block;
	}
}