.ce-twcoderdojo_date {
	header {
		padding: 1em;
	}

	address {
		background-size: contain;
		padding-left: 3.5em;
	}

	.dates-list {
		padding: 0;
		margin: 0;
		background-color: $bgcolorHeader;
		list-style-type: none;

		&, a {
			color: $colorHeader;
		}
	}

	.date {
		h3 {
			margin: 0 0 .5em 0;
		}

		a {
			padding: 2em 1em;
			text-decoration: none;
			display: block;
		}

		.schedule {
			margin: 1em 0;
		}

		&:nth-child(even) {
			background-color: lighten($bgcolorBlue, 48%);
		}

		&:hover {
			background-color: $bgcolorBlue;

			&, a {
				color: $colorBlue;
			}
		}
	}

	.date-details {

		> div {
			background-color: $bgcolorHeader;

			&, & a {
				color: $colorHeader;
			}
		}

		.map {
			display: block;
			width: 100%;
			height: 320px;
			background-repeat: no-repeat;
			background-position: center;
			@include shift-off-screen;
		}

		.date-intro, .mentor-intro {
			padding: 1em;
		}

		.date-intro {
			position: relative;
			padding-bottom: 2em;
		}

		.mentors {
			background-color: $bgcolorHeader;

			&, a {
				color: $colorHeader;
			}
		}
	}

	.date-attendees {
		width: 8em;
		height: 8em;
		position: absolute;
		bottom: -4em;
		right: 5%;
		margin: 0;
		text-align: center;
		color: $colorBlue;

		.animation-wrapper, > span {
			width: 100%;
			height: 100%;
			position: absolute;
		}
		.animation-wrapper {
			z-index: 1;
			animation: attendees 12s infinite;
			fill: currentColor;

			&.foreground {
				top: 0;
				right: 0;
				color: $bgcolorBlue;
			}

			&.background {
				top: .25em;
				right: -.3em;
				//color: #000000;
				color: transparentize($bgcolorBlue, .8);
			}
		}
		
		> span {
			display: table;
			z-index: 2;

			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}