<!-- Next CoderDojos -->
<section id="next-dates">
    <header>
        <h2>
            <f:translate key="header.dates.next"/>
        </h2>
        <p>
            <f:if condition="{nextDates}">
                <f:then>
                    <f:translate key="description.dates.next"/>
                </f:then>
                <f:else>
                    <f:translate key="description.dates.next.none"/>
                </f:else>
            </f:if>
        </p>
    </header>
    <f:if condition="{nextDates}">
        <ol class="dates-list">
            <f:for each="{nextDates}" as="date"><li class="date h-event" itemscope="itemscope" itemtype="http://schema.org/Event">
                <f:link.action action="show" arguments="{date: date}" pageUid="{settings.pages.datePid}" class="u-url" additionalAttributes="{itemprop: 'url'}" title="{f:translate(key: 'dojo.details', arguments: '{0: date.dojoNumber}')}">
                    <h3 class="p-name" itemprop="name">
                        <f:translate key="dojo.name" arguments="{0: '{f:if(condition: date.type, then: date.name, else: \'#{date.dojoNumber}\')}'}"/>
                    </h3>
                  <div class="schedule">
                    <f:translate key="dojo.at"/>
                    <f:render partial="Date" section="Schedule" arguments="{hours: 1, start: date.start, end: date.end}"/>
                  </div>
                    <p class="{f:if(condition: '{date.full}', then: 'full', else: 'open')}">
                      <f:if condition="{date.full}">
                        <f:then>
                          <f:translate key="dojo.full"/>
                        </f:then>
                        <f:else>
                            <f:if condition="{date.type} == 1">
                                <f:then><f:translate key="dojo.count.camp"/></f:then>
                                <f:else><f:translate key="dojo.count" arguments="{0: date.attendeesCount}"/></f:else>
                            </f:if>
                        </f:else>
                      </f:if>
                    </p>
                    <f:render partial="Date" section="Location" arguments="{date: date, icon: 1}"/>
                </f:link.action>
            </li></f:for>
        </ol>
    </f:if>
</section>

<!-- Past CoderDojos -->
<f:if condition="{pastDates}">
    <section id="past-dates">
        <header>
            <h2>
                <f:translate key="header.dates.past"/>
            </h2>
            <p>
                <f:translate key="description.dates.past"/>
            </p>
        </header>
        <ol class="dates-list">
            <f:for each="{pastDates}" as="date"><li class="date h-event" itemscope="itemscope" itemtype="http://schema.org/Event">
                <f:link.action action="show" arguments="{date: date}" pageUid="{settings.pages.datePid}" class="u-url" additionalAttributes="{itemprop: 'url'}" title="{f:translate(key: 'dojo.details', arguments: '{0: date.dojoNumber}')}">
                    <h3 class="p-name" itemprop="name">
                        <f:translate key="dojo.name" arguments="{0: '{f:if(condition: date.type, then: date.name, else: \'#{date.dojoNumber}\')}'}"/>
                    </h3>
                    <div class="schedule">
                        <f:translate key="dojo.at"/>
                        <f:render partial="Date" section="Schedule" arguments="{date: date}"/>
                    </div>
                    <f:render partial="Date" section="Location" arguments="{date: date, icon: 1}"/>
                </f:link.action></li></f:for>
        </ol>
    </section>
</f:if>
