<div class="date-details h-event" itemscope="itemscope" itemtype="http://data-vocabulary.org/Event">
    <div>
        <section class="date-intro">
            <h2 class="p-name" itemprop="name">
                <f:translate key="dojo.name" arguments="{0: date.dojoNumber}"/>
            </h2>
            <f:if condition="{date.intro}">
                <p class="p-description" itemprop="description">
                    <f:format.html>{date.intro}</f:format.html>
                </p>
            </f:if>
            <p>
                <f:translate key="dojo.capacity" arguments="{0: date.capacity}"/> —
                <a href="#c19" class="date-register">
                    <f:if condition="{date.full}">
                        <f:then>
                            <f:translate key="dojo.waitinglist"/>
                        </f:then>
                        <f:else>
                            <f:translate key="dojo.register"/>
                        </f:else>
                    </f:if>
                </a>
            </p>
            <a href="#c19" class="date-attendees{f:if(condition: '{date.full}', then: ' full')}">
                <svg class="animation-wrapper background"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg>
                <svg class="animation-wrapper foreground"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg>
                <span><span><f:if condition="{date.full}">
                    <f:then>
                        <f:translate key="dojo.full"/>
                    </f:then>
                    <f:else>
                        <f:translate key="dojo.count" arguments="{0: date.attendeesCount}"/>
                    </f:else>
                </f:if></span></span>
            </a>
        </section>
        <f:render partial="Date" section="Map" arguments="{date: date}"/>
        <f:comment><div><f:render partial="Date" section="Map" arguments="{date: date}"/></div></f:comment>
    </div>

    <section class="date-mentors">
        <div class="mentor-intro">
            <h2>
                <f:translate key="header.date.mentors"/>
            </h2>
            <p>
                <f:translate key="description.date.mentors"/>
            </p>
        </div>
        <f:render partial="Mentors" arguments="{mentors: date.mentors}"/>
    </section>

    <f:link.page pageUid="{back}" class="back">
        <f:translate key="label.back.dates"/>
    </f:link.page>
</div>

