/*
$font-size-smaller: .9;
$font-size-medium: 1.1;
$font-size-larger: 1.32;
$font-size-x-large: 1.5;
$font-size-xx-large: 2.2;
$font-size-xxx-large: 3.04;
*/
* {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-size: medium; }

body {
  padding: 0;
  margin: 0;
  background-color: #222;
  color: #fff;
  line-height: 1.6; }

a {
  color: #fff; }

img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

.wrap {
  max-width: 64em;
  margin: 0 auto; }

.hide {
  display: none; }

.green {
  background-color: #61c93f;
  color: #fff; }

.blue {
  background-color: #2e7ac7;
  color: #fff; }

.yellow {
  background-color: #fbcc33;
  color: #fff; }

.red {
  background-color: #ed462f;
  color: #fff; }

h2 {
  font-size: xx-large;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.2; }

h3 {
  font-size: larger;
  font-size: 1.2rem;
  line-height: 1.2; }

.ce-textpic {
  background-color: #444; }

.ce-body {
  padding: 1em; }

header[role=banner] {
  padding: 2em 1em 4em 1em;
  color: #000;
  background-color: #ffffff;
  text-align: center; }
  header[role=banner] img {
    display: none; }
  header[role=banner] a {
    color: #000;
    text-decoration: none; }
  header[role=banner] h1 {
    position: absolute;
    left: 100%;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }
  header[role=banner] .home {
    display: block;
    max-width: 400px;
    margin: 0 auto; }
  header[role=banner] .p-summary {
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
    background-size: contain;
    padding-bottom: 28%;
    height: 0;
    margin: 0; }
  header[role=banner] .schedule {
    display: block;
    margin: 1em 0 2em 0; }
    header[role=banner] .schedule:hover .schedule-datetime {
      text-decoration: underline; }
  header[role=banner] .schedule-label,
  header[role=banner] .schedule-datetime {
    display: block; }
  header[role=banner] .schedule-datetime {
    font-weight: bold; }
  header[role=banner] .address {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    background-size: contain;
    padding-left: 3em; }
    header[role=banner] .address:hover {
      color: #000; }

nav {
  margin-top: -2em; }
  nav a {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    text-align: center;
    text-decoration: none;
    padding: 1em 0;
    margin: 1em 0 0 0; }
    nav a:hover {
      color: #000; }
    nav a.active {
      padding: 1.5em 0;
      margin: 0; }

.ce-twcoderdojo_mentor {
  background-color: #fff; }
  .ce-twcoderdojo_mentor, .ce-twcoderdojo_mentor a {
    color: #000; }

.mentors {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.mentor {
  padding: 1em 1em 3em 1em;
  box-sizing: border-box; }
  .mentor figure {
    text-align: center; }
    .mentor figure h2, .mentor figure h3 {
      text-align: center; }
  .mentor img {
    border-radius: 50%;
    margin: 1em 0;
    transition: -webkit-transform 200ms;
    transition: transform 200ms; }
  .mentor > a {
    display: block;
    text-decoration: none; }
    .mentor > a:hover img {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .mentor figcaption {
    text-align: left; }
  .mentor dl {
    margin: 1em 0 0 0; }
  .mentor dt, .mentor dd {
    margin: 0;
    padding: 0; }
  .mentor dt {
    float: left;
    clear: left;
    font-weight: bold; }
  .mentor dd {
    margin-left: 6em; }
  .mentor section {
    margin-top: 3em; }

.mentor-skills {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.mentor-skill {
  display: inline-block;
  margin: 0 .2em .2em 0;
  padding: .2em .5em;
  background-color: #bbb;
  color: #fff;
  border-radius: .3em; }

.mentor-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }
  .mentor-social li {
    display: inline-block; }
  .mentor-social a {
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block; }

@media all and (min-width: 32em) and (max-width: 48em) {
  .mentor figure {
    text-align: left;
    display: table;
    width: 100%;
    table-layout: auto; }
    .mentor figure > * {
      display: table-cell;
      vertical-align: top; }
    .mentor figure > div {
      width: 200px; }
    .mentor figure h2, .mentor figure h3 {
      margin-top: 0;
      text-align: left; }
  .mentor figcaption {
    padding: 1em 0 0 2em; }
  .mentor-social {
    text-align: left; } }

@media all and (min-width: 48em) {
  .ce-textpic {
    width: 100%;
    display: table;
    table-layout: fixed; }
    .ce-textpic > * {
      display: table-cell;
      vertical-align: top; }
  .ce-body {
    padding: 1em 2em; }
  .mentor {
    padding: 1em 2em 3em 2em;
    display: inline-block;
    vertical-align: top;
    width: 50%; } }

/* */
/*# sourceMappingURL=coderdojo-above.css.map */