.icon {
  background: url(icons/icons.png) no-repeat; }

.icon-coderdojo-button {
  background-position: 0 0; }

.icon-coderdojo-button-dims {
  width: 255px;
  height: 255px; }

.icon-coderdojo-button-dims-ph {
  padding-top: 100%; }

.icon-coderdojo-dark-horizontal {
  background-position: 0 6.775173955912482%; }

.icon-coderdojo-dark-horizontal-dims {
  width: 400px;
  height: 119.259px; }

.icon-coderdojo-dark-horizontal-dims-ph {
  padding-top: 29.81475%; }

.icon-coderdojo-dark-vertical {
  background-position: 0 11.084835944428022%; }

.icon-coderdojo-dark-vertical-dims {
  width: 420.055px;
  height: 500px; }

.icon-coderdojo-dark-vertical-dims-ph {
  padding-top: 119.03203151968195%; }

.icon-coderdojo-light-horizontal {
  background-position: 0 23.248145927150674%; }

.icon-coderdojo-light-horizontal-dims {
  width: 400px;
  height: 119.259px; }

.icon-coderdojo-light-horizontal-dims-ph {
  padding-top: 29.81475%; }

.icon-curt {
  background-position: 0 26.534946658090146%; }

.icon-curt-dims {
  width: 133.229px;
  height: 133.228px; }

.icon-curt-dims-ph {
  padding-top: 99.9992494126654%; }

.icon-curt-grey {
  background-position: 0 30.10850529272321%; }

.icon-curt-grey-dims {
  width: 133.229px;
  height: 133.229px; }

.icon-curt-grey-dims-ph {
  padding-top: 100%; }

.icon-curtkids {
  background-position: 0 37.354607615430325%; }

.icon-curtkids-dims {
  width: 501.965px;
  height: 501.891px; }

.icon-curtkids-dims-ph {
  padding-top: 99.9852579363103%; }

.icon-curtkids-grey {
  background-position: 0 52.20180715853881%; }

.icon-curtkids-grey-dims {
  width: 501.965px;
  height: 501.891px; }

.icon-curtkids-grey-dims-ph {
  padding-top: 99.9852579363103%; }

.icon-digitalwerkstatt {
  background-position: 0 59.59713702399186%; }

.icon-digitalwerkstatt-dims {
  width: 100px;
  height: 79.126px; }

.icon-digitalwerkstatt-dims-ph {
  padding-top: 79.126%; }

.icon-digitalwerkstatt-grey {
  background-position: 0 61.700256107326375%; }

.icon-digitalwerkstatt-grey-dims {
  width: 100px;
  height: 79.126px; }

.icon-digitalwerkstatt-grey-dims-ph {
  padding-top: 79.126%; }

.icon-facebook,
.icon-facebook\:regular {
  background-position: 0 63.02259153466632%; }

.icon-facebook-dims {
  width: 32px;
  height: 32px; }

.icon-facebook-dims-ph {
  padding-top: 100%; }

.icon-facebook:hover,
.icon-facebook\:hover {
  background-position: 0 63.8535445338873%; }

.icon-facebook-dims:hover,
.icon-facebook\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-facebook-dims:hover-ph,
.icon-facebook\:hover-dims-ph {
  padding-top: 100%; }

.icon-foodtrucks {
  background-position: 0 64.74500578442435%; }

.icon-foodtrucks-dims {
  width: 100px;
  height: 35.599px; }

.icon-foodtrucks-dims-ph {
  padding-top: 35.599%; }

.icon-foodtrucks-grey {
  background-position: 0 65.68070237544774%; }

.icon-foodtrucks-grey-dims {
  width: 100px;
  height: 35.599px; }

.icon-foodtrucks-grey-dims-ph {
  padding-top: 35.599%; }

.icon-github,
.icon-github\:regular {
  background-position: 0 66.5541417813555%; }

.icon-github-dims {
  width: 32px;
  height: 32px; }

.icon-github-dims-ph {
  padding-top: 100%; }

.icon-github:hover,
.icon-github\:hover {
  background-position: 0 67.38509478057648%; }

.icon-github-dims:hover,
.icon-github\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-github-dims:hover-ph,
.icon-github\:hover-dims-ph {
  padding-top: 100%; }

.icon-googleplus,
.icon-googleplus\:regular {
  background-position: 0 68.21604777979745%; }

.icon-googleplus-dims {
  width: 32px;
  height: 32px; }

.icon-googleplus-dims-ph {
  padding-top: 100%; }

.icon-googleplus:hover,
.icon-googleplus\:hover {
  background-position: 0 69.04700077901843%; }

.icon-googleplus-dims:hover,
.icon-googleplus\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-googleplus-dims:hover-ph,
.icon-googleplus\:hover-dims-ph {
  padding-top: 100%; }

.icon-immowelt {
  background-position: 0 69.62608129355996%; }

.icon-immowelt-dims {
  width: 100.049px;
  height: 18.069px; }

.icon-immowelt-dims-ph {
  padding-top: 18.06015052624214%; }

.icon-immowelt-grey {
  background-position: 0 70.1176812729645%; }

.icon-immowelt-grey-dims {
  width: 100.049px;
  height: 18.069px; }

.icon-immowelt-grey-dims-ph {
  padding-top: 18.06015052624214%; }

.icon-insfx {
  background-position: 0 71.03589017419282%; }

.icon-insfx-dims {
  width: 100px;
  height: 41.28px; }

.icon-insfx-dims-ph {
  padding-top: 41.28%; }

.icon-insfx-grey {
  background-position: 0 72.12915048467875%; }

.icon-insfx-grey-dims {
  width: 100px;
  height: 41.28px; }

.icon-insfx-grey-dims-ph {
  padding-top: 41.28%; }

.icon-kgh {
  background-position: 0 73.18947122753548%; }

.icon-kgh-dims {
  width: 100px;
  height: 39.551px; }

.icon-kgh-dims-ph {
  padding-top: 39.551%; }

.icon-kgh-grey {
  background-position: 0 74.23020313265506%; }

.icon-kgh-grey-dims {
  width: 100px;
  height: 39.551px; }

.icon-kgh-grey-dims-ph {
  padding-top: 39.551%; }

.icon-lni {
  background-position: 0 75.7506528355174%; }

.icon-lni-dims {
  width: 100px;
  height: 63.891px; }

.icon-lni-dims-ph {
  padding-top: 63.89099999999999%; }

.icon-lni-grey {
  background-position: 0 77.4264363756049%; }

.icon-lni-grey-dims {
  width: 100px;
  height: 63.891px; }

.icon-lni-grey-dims-ph {
  padding-top: 63.89099999999999%; }

.icon-location,
.icon-location\:regular {
  background-position: 0 79.77290731449696%; }

.icon-location-dims {
  width: 54px;
  height: 96px; }

.icon-location-dims-ph {
  padding-top: 177.77777777777777%; }

.icon-location:hover,
.icon-location\:hover {
  background-position: 0 82.30789543174016%; }

.icon-location-dims:hover,
.icon-location\:hover-dims {
  width: 54px;
  height: 96px; }

.icon-location-dims:hover-ph,
.icon-location\:hover-dims-ph {
  padding-top: 177.77777777777777%; }

.icon-netatmo {
  background-position: 0 83.27808244245053%; }

.icon-netatmo-dims {
  width: 100px;
  height: 24.842px; }

.icon-netatmo-dims-ph {
  padding-top: 24.842%; }

.icon-netatmo-grey {
  background-position: 0 83.92606005249137%; }

.icon-netatmo-grey-dims {
  width: 100px;
  height: 24.842px; }

.icon-netatmo-grey-dims-ph {
  padding-top: 24.842%; }

.icon-nueww {
  background-position: 0 85.34175016235334%; }

.icon-nueww-dims {
  width: 100px;
  height: 59.549px; }

.icon-nueww-dims-ph {
  padding-top: 59.549%; }

.icon-nueww-grey {
  background-position: 0 86.91101311354585%; }

.icon-nueww-grey-dims {
  width: 100px;
  height: 59.549px; }

.icon-nueww-grey-dims-ph {
  padding-top: 59.549%; }

.icon-shiftschool {
  background-position: 0 87.363286656943%; }

.icon-shiftschool-dims {
  width: 100px;
  height: 10.664px; }

.icon-shiftschool-dims-ph {
  padding-top: 10.663999999999998%; }

.icon-shiftschool-grey {
  background-position: 0 87.64735291565609%; }

.icon-shiftschool-grey-dims {
  width: 100px;
  height: 10.664px; }

.icon-shiftschool-grey-dims-ph {
  padding-top: 10.663999999999998%; }

.icon-silbury {
  background-position: 0 88.16392223553672%; }

.icon-silbury-dims {
  width: 100px;
  height: 20.876px; }

.icon-silbury-dims-ph {
  padding-top: 20.875999999999998%; }

.icon-silbury-grey {
  background-position: 0 88.70766448720963%; }

.icon-silbury-grey-dims {
  width: 100px;
  height: 20.876px; }

.icon-silbury-grey-dims-ph {
  padding-top: 20.875999999999998%; }

.icon-tollwerk {
  background-position: 0 90.78219647089807%; }

.icon-tollwerk-dims {
  width: 324px;
  height: 86px; }

.icon-tollwerk-dims-ph {
  padding-top: 26.54320987654321%; }

.icon-tollwerk-grey {
  background-position: 0 93.04714248090598%; }

.icon-tollwerk-grey-dims {
  width: 324px;
  height: 86px; }

.icon-tollwerk-grey-dims-ph {
  padding-top: 26.54320987654321%; }

.icon-twitter,
.icon-twitter\:regular {
  background-position: 0 93.97559075564789%; }

.icon-twitter-dims {
  width: 32px;
  height: 32px; }

.icon-twitter-dims-ph {
  padding-top: 100%; }

.icon-twitter:hover,
.icon-twitter\:hover {
  background-position: 0 94.80654375486887%; }

.icon-twitter-dims:hover,
.icon-twitter\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-twitter-dims:hover-ph,
.icon-twitter\:hover-dims-ph {
  padding-top: 100%; }

.icon-ucs {
  background-position: 0 97.35659529473962%; }

.icon-ucs-dims {
  width: 100px;
  height: 100px; }

.icon-ucs-dims-ph {
  padding-top: 100%; }

.icon-ucs-grey {
  background-position: 0 100%; }

.icon-ucs-grey-dims {
  width: 100px;
  height: 100px; }

.icon-ucs-grey-dims-ph {
  padding-top: 100%; }
/*# sourceMappingURL=icon.fallback-sprite.css.map */