.icon {
  background-repeat: no-repeat; }

.icon-billomat {
  background-image: url(../icons/billomat.png); }

.icon-billomat-dims {
  width: 764.753px;
  height: 172.913px; }

.icon-billomat-dims-ph {
  padding-top: 22.610306857246723%; }

.icon-billomat-grey {
  background-image: url(../icons/billomat-grey.png); }

.icon-billomat-grey-dims {
  width: 764.753px;
  height: 172.913px; }

.icon-billomat-grey-dims-ph {
  padding-top: 22.610306857246723%; }

.icon-coderdojo-button {
  background-image: url(../icons/coderdojo-button.png); }

.icon-coderdojo-button-dims {
  width: 255px;
  height: 255px; }

.icon-coderdojo-button-dims-ph {
  padding-top: 100%; }

.icon-coderdojo-dark-horizontal {
  background-image: url(../icons/coderdojo-dark-horizontal.png); }

.icon-coderdojo-dark-horizontal-dims {
  width: 400px;
  height: 119.259px; }

.icon-coderdojo-dark-horizontal-dims-ph {
  padding-top: 29.81475%; }

.icon-coderdojo-dark-vertical {
  background-image: url(../icons/coderdojo-dark-vertical.png); }

.icon-coderdojo-dark-vertical-dims {
  width: 420.055px;
  height: 500px; }

.icon-coderdojo-dark-vertical-dims-ph {
  padding-top: 119.03203151968195%; }

.icon-coderdojo-light-horizontal {
  background-image: url(../icons/coderdojo-light-horizontal.png); }

.icon-coderdojo-light-horizontal-dims {
  width: 400px;
  height: 119.259px; }

.icon-coderdojo-light-horizontal-dims-ph {
  padding-top: 29.81475%; }

.icon-curt {
  background-image: url(../icons/curt.png); }

.icon-curt-dims {
  width: 133.229px;
  height: 133.228px; }

.icon-curt-dims-ph {
  padding-top: 99.9992494126654%; }

.icon-curt-grey {
  background-image: url(../icons/curt-grey.png); }

.icon-curt-grey-dims {
  width: 133.229px;
  height: 133.229px; }

.icon-curt-grey-dims-ph {
  padding-top: 100%; }

.icon-curtkids {
  background-image: url(../icons/curtkids.png); }

.icon-curtkids-dims {
  width: 501.965px;
  height: 501.891px; }

.icon-curtkids-dims-ph {
  padding-top: 99.9852579363103%; }

.icon-curtkids-grey {
  background-image: url(../icons/curtkids-grey.png); }

.icon-curtkids-grey-dims {
  width: 501.965px;
  height: 501.891px; }

.icon-curtkids-grey-dims-ph {
  padding-top: 99.9852579363103%; }

.icon-digitalwerkstatt {
  background-image: url(../icons/digitalwerkstatt.png); }

.icon-digitalwerkstatt-dims {
  width: 100px;
  height: 79.126px; }

.icon-digitalwerkstatt-dims-ph {
  padding-top: 79.126%; }

.icon-digitalwerkstatt-grey {
  background-image: url(../icons/digitalwerkstatt-grey.png); }

.icon-digitalwerkstatt-grey-dims {
  width: 100px;
  height: 79.126px; }

.icon-digitalwerkstatt-grey-dims-ph {
  padding-top: 79.126%; }

.icon-facebook,
.icon-facebook\:regular {
  background-image: url(../icons/facebook.png); }

.icon-facebook-dims {
  width: 32px;
  height: 32px; }

.icon-facebook-dims-ph {
  padding-top: 100%; }

.icon-facebook:hover,
.icon-facebook\:hover {
  background-image: url(../icons/facebook~hover.png); }

.icon-facebook-dims:hover,
.icon-facebook\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-facebook-dims:hover-ph,
.icon-facebook\:hover-dims-ph {
  padding-top: 100%; }

.icon-foodtrucks {
  background-image: url(../icons/foodtrucks.png); }

.icon-foodtrucks-dims {
  width: 100px;
  height: 35.599px; }

.icon-foodtrucks-dims-ph {
  padding-top: 35.599%; }

.icon-foodtrucks-grey {
  background-image: url(../icons/foodtrucks-grey.png); }

.icon-foodtrucks-grey-dims {
  width: 100px;
  height: 35.599px; }

.icon-foodtrucks-grey-dims-ph {
  padding-top: 35.599%; }

.icon-github,
.icon-github\:regular {
  background-image: url(../icons/github.png); }

.icon-github-dims {
  width: 32px;
  height: 32px; }

.icon-github-dims-ph {
  padding-top: 100%; }

.icon-github:hover,
.icon-github\:hover {
  background-image: url(../icons/github~hover.png); }

.icon-github-dims:hover,
.icon-github\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-github-dims:hover-ph,
.icon-github\:hover-dims-ph {
  padding-top: 100%; }

.icon-googleplus,
.icon-googleplus\:regular {
  background-image: url(../icons/googleplus.png); }

.icon-googleplus-dims {
  width: 32px;
  height: 32px; }

.icon-googleplus-dims-ph {
  padding-top: 100%; }

.icon-googleplus:hover,
.icon-googleplus\:hover {
  background-image: url(../icons/googleplus~hover.png); }

.icon-googleplus-dims:hover,
.icon-googleplus\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-googleplus-dims:hover-ph,
.icon-googleplus\:hover-dims-ph {
  padding-top: 100%; }

.icon-immowelt {
  background-image: url(../icons/immowelt.png); }

.icon-immowelt-dims {
  width: 100.049px;
  height: 18.069px; }

.icon-immowelt-dims-ph {
  padding-top: 18.06015052624214%; }

.icon-immowelt-grey {
  background-image: url(../icons/immowelt-grey.png); }

.icon-immowelt-grey-dims {
  width: 100.049px;
  height: 18.069px; }

.icon-immowelt-grey-dims-ph {
  padding-top: 18.06015052624214%; }

.icon-insfx {
  background-image: url(../icons/insfx.png); }

.icon-insfx-dims {
  width: 100px;
  height: 41.28px; }

.icon-insfx-dims-ph {
  padding-top: 41.28%; }

.icon-insfx-grey {
  background-image: url(../icons/insfx-grey.png); }

.icon-insfx-grey-dims {
  width: 100px;
  height: 41.28px; }

.icon-insfx-grey-dims-ph {
  padding-top: 41.28%; }

.icon-kgh {
  background-image: url(../icons/kgh.png); }

.icon-kgh-dims {
  width: 100px;
  height: 39.551px; }

.icon-kgh-dims-ph {
  padding-top: 39.551%; }

.icon-kgh-grey {
  background-image: url(../icons/kgh-grey.png); }

.icon-kgh-grey-dims {
  width: 100px;
  height: 39.551px; }

.icon-kgh-grey-dims-ph {
  padding-top: 39.551%; }

.icon-lni {
  background-image: url(../icons/lni.png); }

.icon-lni-dims {
  width: 100px;
  height: 63.891px; }

.icon-lni-dims-ph {
  padding-top: 63.89099999999999%; }

.icon-lni-grey {
  background-image: url(../icons/lni-grey.png); }

.icon-lni-grey-dims {
  width: 100px;
  height: 63.891px; }

.icon-lni-grey-dims-ph {
  padding-top: 63.89099999999999%; }

.icon-location,
.icon-location\:regular {
  background-image: url(../icons/location.png); }

.icon-location-dims {
  width: 54px;
  height: 96px; }

.icon-location-dims-ph {
  padding-top: 177.77777777777777%; }

.icon-location:hover,
.icon-location\:hover {
  background-image: url(../icons/location~hover.png); }

.icon-location-dims:hover,
.icon-location\:hover-dims {
  width: 54px;
  height: 96px; }

.icon-location-dims:hover-ph,
.icon-location\:hover-dims-ph {
  padding-top: 177.77777777777777%; }

.icon-netatmo {
  background-image: url(../icons/netatmo.png); }

.icon-netatmo-dims {
  width: 100px;
  height: 24.842px; }

.icon-netatmo-dims-ph {
  padding-top: 24.842%; }

.icon-netatmo-grey {
  background-image: url(../icons/netatmo-grey.png); }

.icon-netatmo-grey-dims {
  width: 100px;
  height: 24.842px; }

.icon-netatmo-grey-dims-ph {
  padding-top: 24.842%; }

.icon-nueww {
  background-image: url(../icons/nueww.png); }

.icon-nueww-dims {
  width: 100px;
  height: 59.549px; }

.icon-nueww-dims-ph {
  padding-top: 59.549%; }

.icon-nueww-grey {
  background-image: url(../icons/nueww-grey.png); }

.icon-nueww-grey-dims {
  width: 100px;
  height: 59.549px; }

.icon-nueww-grey-dims-ph {
  padding-top: 59.549%; }

.icon-paessler {
  background-image: url(../icons/paessler.png); }

.icon-paessler-dims {
  width: 740.878px;
  height: 147.778px; }

.icon-paessler-dims-ph {
  padding-top: 19.946333944320116%; }

.icon-paessler-grey {
  background-image: url(../icons/paessler-grey.png); }

.icon-paessler-grey-dims {
  width: 740.878px;
  height: 147.778px; }

.icon-paessler-grey-dims-ph {
  padding-top: 19.946333944320116%; }

.icon-shiftschool {
  background-image: url(../icons/shiftschool.png); }

.icon-shiftschool-dims {
  width: 100px;
  height: 10.664px; }

.icon-shiftschool-dims-ph {
  padding-top: 10.663999999999998%; }

.icon-shiftschool-grey {
  background-image: url(../icons/shiftschool-grey.png); }

.icon-shiftschool-grey-dims {
  width: 100px;
  height: 10.664px; }

.icon-shiftschool-grey-dims-ph {
  padding-top: 10.663999999999998%; }

.icon-silbury {
  background-image: url(../icons/silbury.png); }

.icon-silbury-dims {
  width: 100px;
  height: 20.876px; }

.icon-silbury-dims-ph {
  padding-top: 20.875999999999998%; }

.icon-silbury-grey {
  background-image: url(../icons/silbury-grey.png); }

.icon-silbury-grey-dims {
  width: 100px;
  height: 20.876px; }

.icon-silbury-grey-dims-ph {
  padding-top: 20.875999999999998%; }

.icon-tollwerk {
  background-image: url(../icons/tollwerk.png); }

.icon-tollwerk-dims {
  width: 324px;
  height: 86px; }

.icon-tollwerk-dims-ph {
  padding-top: 26.54320987654321%; }

.icon-tollwerk-grey {
  background-image: url(../icons/tollwerk-grey.png); }

.icon-tollwerk-grey-dims {
  width: 324px;
  height: 86px; }

.icon-tollwerk-grey-dims-ph {
  padding-top: 26.54320987654321%; }

.icon-twitter,
.icon-twitter\:regular {
  background-image: url(../icons/twitter.png); }

.icon-twitter-dims {
  width: 32px;
  height: 32px; }

.icon-twitter-dims-ph {
  padding-top: 100%; }

.icon-twitter:hover,
.icon-twitter\:hover {
  background-image: url(../icons/twitter~hover.png); }

.icon-twitter-dims:hover,
.icon-twitter\:hover-dims {
  width: 32px;
  height: 32px; }

.icon-twitter-dims:hover-ph,
.icon-twitter\:hover-dims-ph {
  padding-top: 100%; }

.icon-ucs {
  background-image: url(../icons/ucs.png); }

.icon-ucs-dims {
  width: 100px;
  height: 100px; }

.icon-ucs-dims-ph {
  padding-top: 100%; }

.icon-ucs-grey {
  background-image: url(../icons/ucs-grey.png); }

.icon-ucs-grey-dims {
  width: 100px;
  height: 100px; }

.icon-ucs-grey-dims-ph {
  padding-top: 100%; }
/*# sourceMappingURL=icon.fallback-image.css.map */