.icon-coderdojo-button-dims {
	width: 255px;
	height: 255px;
}

.icon-coderdojo-dark-horizontal-dims {
	width: 400px;
	height: 119.259px;
}

.icon-coderdojo-dark-vertical-dims {
	width: 420.055px;
	height: 500px;
}

.icon-coderdojo-light-horizontal-dims {
	width: 400px;
	height: 119.259px;
}

.icon-curtkids-dims {
	width: 501.965px;
	height: 501.891px;
}

.icon-facebook-dims {
	width: 32px;
	height: 32px;
}

.icon-facebook-dims:hover,
.icon-facebook\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-github-dims {
	width: 32px;
	height: 32px;
}

.icon-github-dims:hover,
.icon-github\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-googleplus-dims {
	width: 32px;
	height: 32px;
}

.icon-googleplus-dims:hover,
.icon-googleplus\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-immowelt-dims {
	width: 100.049px;
	height: 18.069px;
}

.icon-location-dims {
	width: 54px;
	height: 96px;
}

.icon-location-dims:hover,
.icon-location\:hover-dims {
	width: 54px;
	height: 96px;
}

.icon-silbury-dims {
	width: 100px;
	height: 20.876px;
}

.icon-silbury-grey-dims {
	width: 100px;
	height: 20.876px;
}

.icon-tollwerk-dims {
	width: 324px;
	height: 86px;
}

.icon-tollwerk-grey-dims {
	width: 324px;
	height: 86px;
}

.icon-twitter-dims {
	width: 32px;
	height: 32px;
}

.icon-twitter-dims:hover,
.icon-twitter\:hover-dims {
	width: 32px;
	height: 32px;
}

