.pine li {
    width: 45%;
    margin-right: 5%;

    &:nth-child(even) {
        margin: 0 0 0 5%;
    }
}
.bamboo li {
    width: 28%;
    margin-right: 8%;

    &:nth-child(3n+3) {
        margin-right: 0;
    }
}
.plum li {
    width: 10%;
    margin-right: 8%;

    &:nth-child(5n+5) {
        margin-right: 0;
    }
}
