.ce-textpic {
	width: 100%;
	display: table;
	table-layout: fixed;

	> * {
		display: table-cell;
		vertical-align: top;
	}
}

.ce-body, .ce-html {
	padding: 1em 2em;
}

.ce-formhandler_pi1 {
	padding: 2em;
}