.ce-textpic.ce-layout-2,
.ce-textpic.ce-layout-3 {
	display: flex;

	> div {
		box-sizing: border-box;
		width: 50%;
	}

	.ce-flex-image {
		padding: auto !important;
	}

	img {
		display: none;
	}

	&:nth-last-of-type(odd) {
		flex-direction: row-reverse;

		 .ce-flex-image {
			 background-position: left center;
		 }
	}
}

.ce-body, .ce-html {
	padding: 1em 2em;
}

.ce-formhandler {
	padding: 2em;
}