fieldset > label span, .label {
	display: block;
	clear: left;
	float: left;
	width: 25%;
	line-height: 2.8;
}

fieldset > label {
	input[type=text], input[type=email], input[type=submit], input[type=date], input[type=file], textarea {
		width: 75%;
	}

	& + .error {
		margin-left: 25%;
	}
}

fieldset .mentor-skills {
	margin-left: 25%;
}

.label + ul, .label + ol {
	box-sizing: border-box;
	width: 75%;
	margin-top: 1em;

	& + .error {
		margin-left: 25%;
	}
}

form {
	.hint, .box, .controls {
		margin-left: 25%;
	}
}