.ce-twcoderdojo_date {
	.date-details > div {
		display: table;
		width: 100%;
		table-layout: fixed;
		min-height: 320px;

		& > *, .map {
			position: relative;
			display: table-cell;
			vertical-align: top;
			width: auto;
			height: auto;
			background-size: cover;
		}
	}

	.date-attendees {
		right: -4em;
	}
}