.icon {
	background-repeat: no-repeat;
}

.icon-coderdojo-button { 
	background-image: url(../icons/coderdojo-button.png);
}

.icon-coderdojo-button-dims {
	width: 255px;
	height: 255px;
}

.icon-coderdojo-button-dims-ph {
	padding-top: 100%
}

.icon-coderdojo-dark-horizontal { 
	background-image: url(../icons/coderdojo-dark-horizontal.png);
}

.icon-coderdojo-dark-horizontal-dims {
	width: 400px;
	height: 119.259px;
}

.icon-coderdojo-dark-horizontal-dims-ph {
	padding-top: 29.81475%
}

.icon-coderdojo-dark-vertical { 
	background-image: url(../icons/coderdojo-dark-vertical.png);
}

.icon-coderdojo-dark-vertical-dims {
	width: 420.055px;
	height: 500px;
}

.icon-coderdojo-dark-vertical-dims-ph {
	padding-top: 119.03203151968195%
}

.icon-coderdojo-light-horizontal { 
	background-image: url(../icons/coderdojo-light-horizontal.png);
}

.icon-coderdojo-light-horizontal-dims {
	width: 400px;
	height: 119.259px;
}

.icon-coderdojo-light-horizontal-dims-ph {
	padding-top: 29.81475%
}

.icon-curt { 
	background-image: url(../icons/curt.png);
}

.icon-curt-dims {
	width: 133.229px;
	height: 133.228px;
}

.icon-curt-dims-ph {
	padding-top: 99.9992494126654%
}

.icon-curtkids { 
	background-image: url(../icons/curtkids.png);
}

.icon-curtkids-dims {
	width: 501.965px;
	height: 501.891px;
}

.icon-curtkids-dims-ph {
	padding-top: 99.9852579363103%
}

.icon-facebook,
.icon-facebook\:regular { 
	background-image: url(../icons/facebook.png);
}

.icon-facebook-dims {
	width: 32px;
	height: 32px;
}

.icon-facebook-dims-ph {
	padding-top: 100%
}

.icon-facebook:hover,
.icon-facebook\:hover { 
	background-image: url(../icons/facebook~hover.png);
}

.icon-facebook-dims:hover,
.icon-facebook\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-facebook-dims:hover-ph,
.icon-facebook\:hover-dims-ph {
	padding-top: 100%
}

.icon-github,
.icon-github\:regular { 
	background-image: url(../icons/github.png);
}

.icon-github-dims {
	width: 32px;
	height: 32px;
}

.icon-github-dims-ph {
	padding-top: 100%
}

.icon-github:hover,
.icon-github\:hover { 
	background-image: url(../icons/github~hover.png);
}

.icon-github-dims:hover,
.icon-github\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-github-dims:hover-ph,
.icon-github\:hover-dims-ph {
	padding-top: 100%
}

.icon-googleplus,
.icon-googleplus\:regular { 
	background-image: url(../icons/googleplus.png);
}

.icon-googleplus-dims {
	width: 32px;
	height: 32px;
}

.icon-googleplus-dims-ph {
	padding-top: 100%
}

.icon-googleplus:hover,
.icon-googleplus\:hover { 
	background-image: url(../icons/googleplus~hover.png);
}

.icon-googleplus-dims:hover,
.icon-googleplus\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-googleplus-dims:hover-ph,
.icon-googleplus\:hover-dims-ph {
	padding-top: 100%
}

.icon-immowelt { 
	background-image: url(../icons/immowelt.png);
}

.icon-immowelt-dims {
	width: 100.049px;
	height: 18.069px;
}

.icon-immowelt-dims-ph {
	padding-top: 18.06015052624214%
}

.icon-location,
.icon-location\:regular { 
	background-image: url(../icons/location.png);
}

.icon-location-dims {
	width: 54px;
	height: 96px;
}

.icon-location-dims-ph {
	padding-top: 177.77777777777777%
}

.icon-location:hover,
.icon-location\:hover { 
	background-image: url(../icons/location~hover.png);
}

.icon-location-dims:hover,
.icon-location\:hover-dims {
	width: 54px;
	height: 96px;
}

.icon-location-dims:hover-ph,
.icon-location\:hover-dims-ph {
	padding-top: 177.77777777777777%
}

.icon-silbury { 
	background-image: url(../icons/silbury.png);
}

.icon-silbury-dims {
	width: 100px;
	height: 20.876px;
}

.icon-silbury-dims-ph {
	padding-top: 20.875999999999998%
}

.icon-silbury-grey { 
	background-image: url(../icons/silbury-grey.png);
}

.icon-silbury-grey-dims {
	width: 100px;
	height: 20.876px;
}

.icon-silbury-grey-dims-ph {
	padding-top: 20.875999999999998%
}

.icon-tollwerk { 
	background-image: url(../icons/tollwerk.png);
}

.icon-tollwerk-dims {
	width: 324px;
	height: 86px;
}

.icon-tollwerk-dims-ph {
	padding-top: 26.54320987654321%
}

.icon-tollwerk-grey { 
	background-image: url(../icons/tollwerk-grey.png);
}

.icon-tollwerk-grey-dims {
	width: 324px;
	height: 86px;
}

.icon-tollwerk-grey-dims-ph {
	padding-top: 26.54320987654321%
}

.icon-twitter,
.icon-twitter\:regular { 
	background-image: url(../icons/twitter.png);
}

.icon-twitter-dims {
	width: 32px;
	height: 32px;
}

.icon-twitter-dims-ph {
	padding-top: 100%
}

.icon-twitter:hover,
.icon-twitter\:hover { 
	background-image: url(../icons/twitter~hover.png);
}

.icon-twitter-dims:hover,
.icon-twitter\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-twitter-dims:hover-ph,
.icon-twitter\:hover-dims-ph {
	padding-top: 100%
}

