.icon {
  background: url(icons/icons.svg) no-repeat;
}

.icon-billomat { 
background-position: 0 0;
}

.icon-billomat-dims {
  width: 764.753px;
  height: 172.913px;
}

.icon-billomat-dims-ph {
  padding-top: 22.610306857246723%
}

.icon-billomat-grey { 
background-position: 0 2.783101330467222%;
}

.icon-billomat-grey-dims {
  width: 764.753px;
  height: 172.913px;
}

.icon-billomat-grey-dims-ph {
  padding-top: 22.610306857246723%
}

.icon-coderdojo-button { 
background-position: 0 5.640691229214216%;
}

.icon-coderdojo-button-dims {
  width: 255px;
  height: 255px;
}

.icon-coderdojo-button-dims-ph {
  padding-top: 100%
}

.icon-coderdojo-dark-horizontal { 
background-position: 0 9.58572291901691%;
}

.icon-coderdojo-dark-horizontal-dims {
  width: 400px;
  height: 119.259px;
}

.icon-coderdojo-dark-horizontal-dims-ph {
  padding-top: 29.81475%
}

.icon-coderdojo-dark-vertical { 
background-position: 0 12.243165223297673%;
}

.icon-coderdojo-dark-vertical-dims {
  width: 420.055px;
  height: 500px;
}

.icon-coderdojo-dark-vertical-dims-ph {
  padding-top: 119.03203151968195%
}

.icon-coderdojo-light-horizontal { 
background-position: 0 19.47448865910091%;
}

.icon-coderdojo-light-horizontal-dims {
  width: 400px;
  height: 119.259px;
}

.icon-coderdojo-light-horizontal-dims-ph {
  padding-top: 29.81475%
}

.icon-craftplaces { 
background-position: 0 21.655749165381614%;
}

.icon-craftplaces-dims {
  width: 181.62px;
  height: 196.649px;
}

.icon-craftplaces-dims-ph {
  padding-top: 108.27496971699152%
}

.icon-craftplaces-grey { 
background-position: 0 24.837093375359377%;
}

.icon-craftplaces-grey-dims {
  width: 181.62px;
  height: 196.649px;
}

.icon-craftplaces-grey-dims-ph {
  padding-top: 108.27496971699152%
}

.icon-curt { 
background-position: 0 27.73438673915865%;
}

.icon-curt-dims {
  width: 133.229px;
  height: 133.228px;
}

.icon-curt-dims-ph {
  padding-top: 99.9992494126654%
}

.icon-curt-grey { 
background-position: 0 29.87641331500146%;
}

.icon-curt-grey-dims {
  width: 133.229px;
  height: 133.229px;
}

.icon-curt-grey-dims-ph {
  padding-top: 100%
}

.icon-curtkids { 
background-position: 0 34.023490986832414%;
}

.icon-curtkids-dims {
  width: 501.965px;
  height: 501.891px;
}

.icon-curtkids-dims-ph {
  padding-top: 99.9852579363103%
}

.icon-curtkids-grey { 
background-position: 0 42.55059656615836%;
}

.icon-curtkids-grey-dims {
  width: 501.965px;
  height: 501.891px;
}

.icon-curtkids-grey-dims-ph {
  padding-top: 99.9852579363103%
}

.icon-digitalwerkstatt { 
background-position: 0 47.65546823914392%;
}

.icon-digitalwerkstatt-dims {
  width: 100px;
  height: 79.126px;
}

.icon-digitalwerkstatt-dims-ph {
  padding-top: 79.126%
}

.icon-digitalwerkstatt-grey { 
background-position: 0 48.92332239914775%;
}

.icon-digitalwerkstatt-grey-dims {
  width: 100px;
  height: 79.126px;
}

.icon-digitalwerkstatt-grey-dims-ph {
  padding-top: 79.126%
}

.icon-facebook,
.icon-facebook\:regular { 
background-position: 0 49.81909705836086%;
}

.icon-facebook-dims {
  width: 32px;
  height: 32px;
}

.icon-facebook-dims-ph {
  padding-top: 100%
}

.icon-facebook:hover,
.icon-facebook\:hover { 
background-position: 0 50.32247915683499%;
}

.icon-facebook-dims:hover,
.icon-facebook\:hover-dims {
  width: 32px;
  height: 32px;
}

.icon-facebook-dims:hover-ph,
.icon-facebook\:hover-dims-ph {
  padding-top: 100%
}

.icon-github,
.icon-github\:regular { 
background-position: 0 50.82586125530911%;
}

.icon-github-dims {
  width: 32px;
  height: 32px;
}

.icon-github-dims-ph {
  padding-top: 100%
}

.icon-github:hover,
.icon-github\:hover { 
background-position: 0 51.329243353783234%;
}

.icon-github-dims:hover,
.icon-github\:hover-dims {
  width: 32px;
  height: 32px;
}

.icon-github-dims:hover-ph,
.icon-github\:hover-dims-ph {
  padding-top: 100%
}

.icon-googleplus,
.icon-googleplus\:regular { 
background-position: 0 51.83262545225735%;
}

.icon-googleplus-dims {
  width: 32px;
  height: 32px;
}

.icon-googleplus-dims-ph {
  padding-top: 100%
}

.icon-googleplus:hover,
.icon-googleplus\:hover { 
background-position: 0 52.33600755073148%;
}

.icon-googleplus-dims:hover,
.icon-googleplus\:hover-dims {
  width: 32px;
  height: 32px;
}

.icon-googleplus-dims:hover-ph,
.icon-googleplus\:hover-dims-ph {
  padding-top: 100%
}

.icon-immowelt { 
background-position: 0 52.723848366902736%;
}

.icon-immowelt-dims {
  width: 100.049px;
  height: 18.069px;
}

.icon-immowelt-dims-ph {
  padding-top: 18.06015052624214%
}

.icon-immowelt-grey { 
background-position: 0 53.02207793492035%;
}

.icon-immowelt-grey-dims {
  width: 100.049px;
  height: 18.069px;
}

.icon-immowelt-grey-dims-ph {
  padding-top: 18.06015052624214%
}

.icon-insfx { 
background-position: 0 53.515277926562604%;
}

.icon-insfx-dims {
  width: 100px;
  height: 41.28px;
}

.icon-insfx-dims-ph {
  padding-top: 41.28%
}

.icon-insfx-grey { 
background-position: 0 54.17693281997315%;
}

.icon-insfx-grey-dims {
  width: 100px;
  height: 41.28px;
}

.icon-insfx-grey-dims-ph {
  padding-top: 41.28%
}

.icon-kgh { 
background-position: 0 54.82365477697356%;
}

.icon-kgh-dims {
  width: 100px;
  height: 39.551px;
}

.icon-kgh-dims-ph {
  padding-top: 39.551%
}

.icon-kgh-grey { 
background-position: 0 55.45363070086869%;
}

.icon-kgh-grey-dims {
  width: 100px;
  height: 39.551px;
}

.icon-kgh-grey-dims-ph {
  padding-top: 39.551%
}

.icon-lni { 
background-position: 0 56.29942503757643%;
}

.icon-lni-dims {
  width: 100px;
  height: 63.891px;
}

.icon-lni-dims-ph {
  padding-top: 63.89099999999999%
}

.icon-lni-grey { 
background-position: 0 57.31126530783896%;
}

.icon-lni-grey-dims {
  width: 100px;
  height: 63.891px;
}

.icon-lni-grey-dims-ph {
  padding-top: 63.89099999999999%
}

.icon-location,
.icon-location\:regular { 
background-position: 0 58.62068965517241%;
}

.icon-location-dims {
  width: 54px;
  height: 96px;
}

.icon-location-dims-ph {
  padding-top: 177.77777777777777%
}

.icon-location:hover,
.icon-location\:hover { 
background-position: 0 60.146194184013986%;
}

.icon-location-dims:hover,
.icon-location\:hover-dims {
  width: 54px;
  height: 96px;
}

.icon-location-dims:hover-ph,
.icon-location\:hover-dims-ph {
  padding-top: 177.77777777777777%
}

.icon-netatmo { 
background-position: 0 60.98214406367661%;
}

.icon-netatmo-dims {
  width: 100px;
  height: 24.842px;
}

.icon-netatmo-dims-ph {
  padding-top: 24.842%
}

.icon-netatmo-grey { 
background-position: 0 61.37496900611204%;
}

.icon-netatmo-grey-dims {
  width: 100px;
  height: 24.842px;
}

.icon-netatmo-grey-dims-ph {
  padding-top: 24.842%
}

.icon-nueww { 
background-position: 0 62.10649233243136%;
}

.icon-nueww-dims {
  width: 100px;
  height: 59.549px;
}

.icon-nueww-dims-ph {
  padding-top: 59.549%
}

.icon-nueww-grey { 
background-position: 0 63.054441846536136%;
}

.icon-nueww-grey-dims {
  width: 100px;
  height: 59.549px;
}

.icon-nueww-grey-dims-ph {
  padding-top: 59.549%
}

.icon-paessler { 
background-position: 0 64.90716080921332%;
}

.icon-paessler-dims {
  width: 740.878px;
  height: 147.778px;
}

.icon-paessler-dims-ph {
  padding-top: 19.946333944320116%
}

.icon-paessler-grey { 
background-position: 0 67.27849129545464%;
}

.icon-paessler-grey-dims {
  width: 740.878px;
  height: 147.778px;
}

.icon-paessler-grey-dims-ph {
  padding-top: 19.946333944320116%
}

.icon-psd { 
background-position: 0 75.65436588518914%;
}

.icon-psd-dims {
  width: 606.293px;
  height: 643.132px;
}

.icon-psd-dims-ph {
  padding-top: 106.07610511749269%
}

.icon-psd-grey { 
background-position: 0 86.86242009040235%;
}

.icon-psd-grey-dims {
  width: 606.293px;
  height: 643.132px;
}

.icon-psd-grey-dims-ph {
  padding-top: 106.07610511749269%
}

.icon-shiftschool { 
background-position: 0 88.34592595937248%;
}

.icon-shiftschool-dims {
  width: 100px;
  height: 10.664px;
}

.icon-shiftschool-dims-ph {
  padding-top: 10.663999999999998%
}

.icon-shiftschool-grey { 
background-position: 0 88.51838473231889%;
}

.icon-shiftschool-grey-dims {
  width: 100px;
  height: 10.664px;
}

.icon-shiftschool-grey-dims-ph {
  padding-top: 10.663999999999998%
}

.icon-silbury { 
background-position: 0 88.83306920531071%;
}

.icon-silbury-dims {
  width: 100px;
  height: 20.876px;
}

.icon-silbury-dims-ph {
  padding-top: 20.875999999999998%
}

.icon-silbury-grey { 
background-position: 0 89.16283665330637%;
}

.icon-silbury-grey-dims {
  width: 100px;
  height: 20.876px;
}

.icon-silbury-grey-dims-ph {
  padding-top: 20.875999999999998%
}

.icon-tollwerk { 
background-position: 0 90.41726162145011%;
}

.icon-tollwerk-dims {
  width: 324px;
  height: 86px;
}

.icon-tollwerk-dims-ph {
  padding-top: 26.54320987654321%
}

.icon-tollwerk-grey { 
background-position: 0 91.78169125813105%;
}

.icon-tollwerk-grey-dims {
  width: 324px;
  height: 86px;
}

.icon-tollwerk-grey-dims-ph {
  padding-top: 26.54320987654321%
}

.icon-twitter,
.icon-twitter\:regular { 
background-position: 0 92.35488437942426%;
}

.icon-twitter-dims {
  width: 32px;
  height: 32px;
}

.icon-twitter-dims-ph {
  padding-top: 100%
}

.icon-twitter:hover,
.icon-twitter\:hover { 
background-position: 0 92.85826647789838%;
}

.icon-twitter-dims:hover,
.icon-twitter\:hover-dims {
  width: 32px;
  height: 32px;
}

.icon-twitter-dims:hover-ph,
.icon-twitter\:hover-dims-ph {
  padding-top: 100%
}

.icon-ucs { 
background-position: 0 94.37112418508507%;
}

.icon-ucs-dims {
  width: 100px;
  height: 100px;
}

.icon-ucs-dims-ph {
  padding-top: 100%
}

.icon-ucs-grey { 
background-position: 0 95.96120209890285%;
}

.icon-ucs-grey-dims {
  width: 100px;
  height: 100px;
}

.icon-ucs-grey-dims-ph {
  padding-top: 100%
}

.icon-vrbank { 
background-position: 0 96.85698683044943%;
}

.icon-vrbank-dims {
  width: 134.786px;
  height: 54.919px;
}

.icon-vrbank-dims-ph {
  padding-top: 40.745329633641475%
}

.icon-vrbank-grey { 
background-position: 0 97.72530537579169%;
}

.icon-vrbank-grey-dims {
  width: 134.786px;
  height: 54.919px;
}

.icon-vrbank-grey-dims-ph {
  padding-top: 40.745329633641475%
}

.icon-wbg { 
background-position: 0 98.8593107740977%;
}

.icon-wbg-dims {
  width: 110.443px;
  height: 71.942px;
}

.icon-wbg-dims-ph {
  padding-top: 65.13948371558179%
}

.icon-wbg-grey { 
background-position: 0 99.99908185107688%;
}

.icon-wbg-grey-dims {
  width: 110.443px;
  height: 71.942px;
}

.icon-wbg-grey-dims-ph {
  padding-top: 65.13948371558179%
}

