.icon {
	background: url(icons/icons.svg) no-repeat;
}

.icon-coderdojo-button { 
	background-position: 0 0;
}

.icon-coderdojo-button-dims {
	width: 255px;
	height: 255px;
}

.icon-coderdojo-button-dims-ph {
	padding-top: 100%
}

.icon-coderdojo-dark-horizontal { 
	background-position: 0 16.38037412774508%;
}

.icon-coderdojo-dark-horizontal-dims {
	width: 400px;
	height: 119.259px;
}

.icon-coderdojo-dark-horizontal-dims-ph {
	padding-top: 29.81475%
}

.icon-coderdojo-dark-vertical { 
	background-position: 0 31.887755102040817%;
}

.icon-coderdojo-dark-vertical-dims {
	width: 420.055px;
	height: 500px;
}

.icon-coderdojo-dark-vertical-dims-ph {
	padding-top: 119.03203151968195%
}

.icon-coderdojo-light-horizontal { 
	background-position: 0 56.20716612461546%;
}

.icon-coderdojo-light-horizontal-dims {
	width: 400px;
	height: 119.259px;
}

.icon-coderdojo-light-horizontal-dims-ph {
	padding-top: 29.81475%
}

.icon-facebook,
.icon-facebook\:regular { 
	background-position: 0 60.523114355231144%;
}

.icon-facebook-dims {
	width: 32px;
	height: 32px;
}

.icon-facebook-dims-ph {
	padding-top: 100%
}

.icon-facebook:hover,
.icon-facebook\:hover { 
	background-position: 0 62.469586374695865%;
}

.icon-facebook-dims:hover,
.icon-facebook\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-facebook-dims:hover-ph,
.icon-facebook\:hover-dims-ph {
	padding-top: 100%
}

.icon-github,
.icon-github\:regular { 
	background-position: 0 64.41605839416059%;
}

.icon-github-dims {
	width: 32px;
	height: 32px;
}

.icon-github-dims-ph {
	padding-top: 100%
}

.icon-github:hover,
.icon-github\:hover { 
	background-position: 0 66.36253041362531%;
}

.icon-github-dims:hover,
.icon-github\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-github-dims:hover-ph,
.icon-github\:hover-dims-ph {
	padding-top: 100%
}

.icon-googleplus,
.icon-googleplus\:regular { 
	background-position: 0 68.30900243309003%;
}

.icon-googleplus-dims {
	width: 32px;
	height: 32px;
}

.icon-googleplus-dims-ph {
	padding-top: 100%
}

.icon-googleplus:hover,
.icon-googleplus\:hover { 
	background-position: 0 70.25547445255475%;
}

.icon-googleplus-dims:hover,
.icon-googleplus\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-googleplus-dims:hover-ph,
.icon-googleplus\:hover-dims-ph {
	padding-top: 100%
}

.icon-immowelt { 
	background-position: 0 71.59525939258027%;
}

.icon-immowelt-dims {
	width: 100.049px;
	height: 18.069px;
}

.icon-immowelt-dims-ph {
	padding-top: 18.06015052624214%
}

.icon-location,
.icon-location\:regular { 
	background-position: 0 76.32911392405063%;
}

.icon-location-dims {
	width: 54px;
	height: 96px;
}

.icon-location-dims-ph {
	padding-top: 177.77777777777777%
}

.icon-location:hover,
.icon-location\:hover { 
	background-position: 0 82.40506329113924%;
}

.icon-location-dims:hover,
.icon-location\:hover-dims {
	width: 54px;
	height: 96px;
}

.icon-location-dims:hover-ph,
.icon-location\:hover-dims-ph {
	padding-top: 177.77777777777777%
}

.icon-silbury { 
	background-position: 0 84.46497060039006%;
}

.icon-silbury-dims {
	width: 100px;
	height: 20.876px;
}

.icon-silbury-dims-ph {
	padding-top: 20.875999999999998%
}

.icon-silbury-grey { 
	background-position: 0 85.73375771241308%;
}

.icon-silbury-grey-dims {
	width: 100px;
	height: 20.876px;
}

.icon-silbury-grey-dims-ph {
	padding-top: 20.875999999999998%
}

.icon-tollwerk { 
	background-position: 0 90.56603773584905%;
}

.icon-tollwerk-dims {
	width: 324px;
	height: 86px;
}

.icon-tollwerk-dims-ph {
	padding-top: 26.54320987654321%
}

.icon-tollwerk-grey { 
	background-position: 0 95.9748427672956%;
}

.icon-tollwerk-grey-dims {
	width: 324px;
	height: 86px;
}

.icon-tollwerk-grey-dims-ph {
	padding-top: 26.54320987654321%
}

.icon-twitter,
.icon-twitter\:regular { 
	background-position: 0 98.05352798053528%;
}

.icon-twitter-dims {
	width: 32px;
	height: 32px;
}

.icon-twitter-dims-ph {
	padding-top: 100%
}

.icon-twitter:hover,
.icon-twitter\:hover { 
	background-position: 0 100%;
}

.icon-twitter-dims:hover,
.icon-twitter\:hover-dims {
	width: 32px;
	height: 32px;
}

.icon-twitter-dims:hover-ph,
.icon-twitter\:hover-dims-ph {
	padding-top: 100%
}

