@import "../common/10_variables";
@import "../common/20_fonts";
@import "../common/30_mixins";

%shift {
  text-indent: 100vw;
  white-space: nowrap;
  overflow: hidden;
}

.visually-hidden {
  @include hide-visible;
}

.tooltip {
  border-bottom: 1px dotted #000;
  cursor: help;

  &:hover::after,
  &:focus::after {
    font-weight: normal;
    content: ' (' attr(aria-label) ')';
  }
}

a.block {
  display: inline-block;
}

.white main {
  background-color: transparent;
}

.ce-textpic {
  background-color: transparent;
}

.tx-tw-payment {
  padding: 1em;
}

html {
  background: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $bgcolorBody;
  z-index: 1;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
  text-align: center;

  a {
    line-height: 2rem;
    padding: 0 .5em;
    margin: 0;
    width: auto;
    height: 2em;
    display: inline-block;
    text-transform: none;
    font-size: 80%;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

header[role=banner] {
  margin-top: 2em;
  padding: 0;
  text-align: left;

  img {
    display: inline;
    max-width: 226px;
    width: calc(80px + 12vw);
  }

  .home {
    width: 100%;
    text-align: left;
    margin: 0 0 calc(1em + 1vw) 0;
  }

  .wrap {
    height: 100%;
    padding: 1em;
  }

  .tas-title {
    position: static;
    max-width: 340px;
    width: calc(120px + 12vw);
    max-height: 340px;
    height: calc(120px + 12vw);
    @extend %shift;
    background: transparent url("/fileadmin/user_upload/take-a-seat/tas-logo.svg") center center no-repeat;
    background-size: contain;
    transform: rotate(-6deg);
    margin: 0;
  }
}

.banner-outer {
  background: transparent url("/fileadmin/user_upload/take-a-seat/tas-header.jpg") center bottom no-repeat;
  background-size: cover;
  height: 36.875vw;
  min-height: 320px;
  max-height: 492px;
}

.tas-header {
  margin-top: -1em;
}

.tas-tagline,
.tas-tagline a {
  font-family: $fontFamilyTagline;
  line-height: 1;
}

.tas-tagline {
  font-size: calc(2.2em + 2vw);
  text-transform: uppercase;
  margin: .5em 0;

  a {
    text-decoration: none;
  }
}

.tas-tagline-sub {
  color: $bgcolorGreen;
  display: block;
  margin-top: .2em;
  font-size: 50%;
}

#c48 {
  margin-top: 0;
}

#c49 {
  background: #e8e7e5 url("/fileadmin/user_upload/take-a-seat/remo-plastic-chair-1.jpg") 15% 0% no-repeat;
  background-size: auto 100vw;
  padding-top: 100vw;

  h2 {
    margin-top: 0;
  }

  .ce-body {
    padding-top: 0;
  }
}

#c62 {
  margin-top: calc(20px + 12vw);

  .columns-left {
    background-color: $bgcolorGreen;
    color: $colorGreen;
  }

  .columns-right {
    background-color: $bgcolorBlue;
    color: $colorBlue;
  }
}

#c57, #c74 {
  h2 {
    @extend .tas-tagline;
  }
}

#c57 {
  .tooltip {
    border-bottom-color: $colorGreen;
  }

  h2 {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      max-width: 226px;
      width: calc(120px + 12vw);
      max-height: 226px;
      height: calc(120px + 12vw);
      right: 0;
      top: calc(-90px - 9vw);
      background: transparent url("/fileadmin/user_upload/take-a-seat/tas-100-euro.svg") center center no-repeat;
      background-size: contain;
      transform: rotate(6deg);
    }
  }

  ol {
    counter-reset: li; /* Initiate a counter */
    margin-left: 0; /* Remove the default left margin */
    padding-left: 0; /* Remove the default left padding */
    list-style: none; /* Disable the normal item numbering */
  }
  ol > li {
    position: relative; /* Create a positioning context */
    margin-left: 2.5em; /* Give each list item a left margin to make room for the numbers */
  }
  ol > li:before {
    content: counter(li); /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    position: absolute;
    left: -2.5em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.7em;
    color: $bgcolorGreen;
    background-color: $colorGreen;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
  }
}

#c74 {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .person {
    background: transparent url("/fileadmin/user_upload/take-a-seat/tas-person.svg") top left no-repeat;
    background-size: 2.2em 2.2em;
  }

  .company {
    background: transparent url("/fileadmin/user_upload/take-a-seat/tas-company.svg") top left no-repeat;
    background-size: 2.2em 2.2em;
  }

  li {
    padding: .3em 0 .3em 2.8em;
  }
}

#c67, .ce-formhandler {
  background-color: #fafafa;
}

#c69 {
  padding-bottom: 66.666666vw;
  background: transparent url("/fileadmin/user_upload/take-a-seat/tas-footer.jpg") center bottom no-repeat;
  background-size: contain;
}

fieldset.colors {
  margin-top: 1em;

  legend {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
  }

  div > label {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      background-color: #fff;
    }
  }

  span {
    display: table-cell;

    &:first-child::before {
      content: '\00a0';
      display: inline-block;
      width: 4em;
      height: 1.8em;
      margin-right: .5em;
      border: 1px solid black;
      vertical-align: middle;
    }

    &:last-child,
    input[type=number] {
      box-sizing: border-box;
      width: 6em;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.color-black span:first-child::before {
  background-color: #000;
}

.color-basaltgrey span:first-child::before {
  background-color: rgb(72, 81, 80);
}

.color-signalgrey span:first-child::before {
  background-color: rgb(168, 168, 167);
}

.color-white span:first-child::before {
  background-color: #fff;
}

.color-greenblue span:first-child::before {
  background-color: rgb(0, 49, 73);
}

.color-avionblue span:first-child::before {
  background-color: rgb(72, 174, 195);
}

.color-oxidered span:first-child::before {
  background-color: rgb(78, 18, 0);
}

.color-coralred span:first-child::before {
  background-color: rgb(195, 46, 27);
}

.color-yellowgrey span:first-child::before {
  background-color: rgb(171, 164, 124);
}

.color-ferngreen span:first-child::before {
  background-color: rgb(57, 126, 65);
}

.color-pastelgreen span:first-child::before {
  background-color: rgb(181, 216, 175);
}

.color-sulfuryellow span:first-child::before {
  background-color: rgb(242, 230, 26);
}

.total {
  border-top: 1px dashed #000;
  margin: 1em 0;

  dt, dd {
    margin-top: 1em;
    width: 50%;
  }

  dt {
    float: left;
    clear: left;
  }

  dd {
    text-align: right;
    margin-left: 50%;
  }
}

.gross {
  font-weight: bold;
}

.payment {
  display: block;
  overflow: hidden;

  li {
    display: block;
    float: left;
    width: 50%;

    &.hint {
      float: none;
      clear: both;
      width: 100%;
      padding: .5em 1em;
      box-sizing: border-box;
    }
  }
}

.checkbox {
  border: 1px solid #bbb;
  padding: .5em;
}

input[type=checkbox] {
  float: left;
  clear: left;
  margin-top: .4em;

  & + span {
    display: block;
    margin-left: 2em;
  }
}

#c53 h2 {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: transparent url("/fileadmin/user_upload/take-a-seat/tollwerkstatt.svg") left center no-repeat;
  height: 2em;
  background-size: contain;
}

@media all and (min-width: $breakpoint001) {
  nav a {
    font-size: 1rem;
    padding: 0 1em;
  }

  .tx-tw-payment {
    padding: 1em 2em;
  }
}

@media all and (min-width: $breakpoint002) {
  .columns {
    display: table;
    table-layout: fixed;
    width: 100%;

    > div {
      display: table-cell;
      width: 50%;
    }
  }

  #c49 {
    padding: 0;
    background-position: top center;
    background-size: cover;
    min-height: 46vw;
    margin-top: 1em;

    .wrap > * {
      padding-left: 50%;
    }
  }

  #c62 {
    margin-top: 124px;
  }

  #c57 h2::after {
    top: -172px;
    right: -113px;
  }

  #c74 h2 {
    text-align: center;
  }

  fieldset.colors {
    legend {
      float: left;
    }

    div {
      margin-left: 25%;
    }
  }

  .total, .total + .error {
    margin-left: 25%;
  }

  .checkbox {
    margin-left: 25%;
    overflow: hidden;

    span {
      float: none;
      clear: none;
      width: auto;
      line-height: 1.6;
    }
  }
}

@media all and (min-width: 960px) {
  .ce-gallery {
    padding: 1em 2em;
  }
}

/* CREDIT CARD PAYMENT */

.ce-twpayment_payment {
  margin-bottom: 2em;

  a {
    color: $colorInverseContent;
  }
}

.payment-properties {
  margin: 1em 0;
  border: 1px solid #bbb;
  padding: .5em;

  dt {
    font-weight: bold;
    float: left;
    clear: left;
    width: 15em;
  }
  dd {
    margin-left: 15em;
  }
}

.white [role=contentinfo] {
  background-color: $bgcolorBody;
  color: $colorBody;
}

.counter {
  position: relative;
  float: right;
  width: 10em;
  height: 10em;
  margin: 0 1em 1em 1em;
  text-align: center;
  color: $colorBlue !important;
  transform: rotate(6deg);

  .animation-wrapper, > span {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .animation-wrapper {
    z-index: 1;
    animation: attendees 12s infinite;
    fill: currentColor;

    &.foreground {
      top: 0;
      right: 0;
      color: $bgcolorBlue;
    }

    &.background {
      top: .25em;
      right: -.3em;
      color: transparentize($bgcolorBlue, .8);
    }
  }

  > span {
    display: table;
    z-index: 2;

    > span {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .chairs {
    position: relative;
    font-family: $fontFamilyTagline;
    font-size: 4.6em;
    height: 1em;
    text-transform: uppercase;
    line-height: 1;

    small {
      text-align: left;
      font-size: 35%;
      position: absolute;
      left: 42%;
      bottom: 10%;
    }

    #counter {
      text-align: right;
      position: absolute;
      right: 60%;
      top: 0;
    }

    & + div {
      font-size: 80%;
      width: 60%;
      margin: 0 auto;
      line-height: 1.2;
    }
  }
}

#c86.counter {
  .chairs + div {
    display: none;
  }
}

#c87, #c87 a {
  color: $bgcolorGreen;
}

#c88 {
  color: $bgcolorRed;
}
