$fontFamily: "open-sans", Arial, Helvetica, sans-serif;

$bgcolorBody: #222;
$bgcolorBodyLightest: #bbb;
$colorBody: #fff;

$bgcolorHeader: #fff;
$colorHeader: #000;

$bgcolorFooter: #000;
$colorFooter: #fff;

$colorAddress: #0f7595;
$colorNavigationHover: #000;

$bgcolorGreen: #61c93f;
$colorGreen: #fff;
$bgcolorBlue: #2e7ac7;
$colorBlue: #fff;
$bgcolorYellow: #fbcc33;
$colorYellow: #fff;
$bgcolorRed: #ed462f;
$colorRed: #fff;

$bgcolorContent: #444;
$bgcolorInverseContent: #fff;
$colorInverseContent: #000;

$breakpoint001: 32em;
$breakpoint002: 48em;
$breakpoint003: 64em;
$breakpoint004: 640px;
