footer.sponsors {
	background-color: $bgcolorBody;
}

.sponsors-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 1em 0;
	}

	a {
		display: block;
		height: 0;
		background-size: 100% auto;
		@include shift-off-screen();
	}
}

.pine li {
	width: 100%;
}
.bamboo li {
	width: 45%;

  &:nth-child(2n+1) {
    padding-right: 5%;
  }

  &:nth-child(2n+2) {
    padding-left: 5%;
  }
}
.plum li {
	width: 30%;
  padding: 0 2.5%;

  &:nth-child(3n+1) {
    padding-left: 0;
  }

  &:nth-child(3n+3) {
    padding-right: 0;
  }
}

aside.sponsors {
	padding: 1em;
	background-color: $bgcolorHeader;
	color: $colorHeader;
}
