footer.sponsors {
	background-color: $bgcolorBody;
}

.sponsors-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 1em 0;
	}

	a {
		display: block;
		height: 0;
		background-size: 100% auto;
		@include shift-off-screen();
	}
}

.pine li {
	width: 100%;
}
.bamboo li {
	width: 50%;
}
.plum li {
	width: percentage(1/3);
}

aside.sponsors {
	padding: 1em;
	background-color: $bgcolorHeader;
	color: $colorHeader;
}
