/*
$font-size-smaller: .9;
$font-size-medium: 1.1;
$font-size-larger: 1.32;
$font-size-x-large: 1.5;
$font-size-xx-large: 2.2;
$font-size-xxx-large: 3.04;
*/
html, body {
  padding: 0;
  margin: 0;
  background-color: #222;
  color: #fff; }

body, a, input, textarea, button {
  line-height: 1.6;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-size: medium; }

address {
  font-style: normal; }

a {
  color: #fff; }

img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

label {
  display: block;
  cursor: pointer; }

.wrap {
  max-width: 64em;
  margin: 0 auto; }

.hide {
  display: none; }

.green, .home .ce-textpic:nth-of-type(3), .green main, .home .ce-textpic:nth-of-type(3) main, .green [role=contentinfo], .home .ce-textpic:nth-of-type(3) [role=contentinfo] {
  background-color: #61c93f;
  color: #fff; }

.blue, .home .ce-textpic:nth-of-type(4), .blue main, .home .ce-textpic:nth-of-type(4) main, .blue [role=contentinfo], .home .ce-textpic:nth-of-type(4) [role=contentinfo] {
  background-color: #2e7ac7;
  color: #fff; }

.yellow, .yellow main, .yellow [role=contentinfo] {
  background-color: #fbcc33;
  color: #fff; }

.red, .home .ce-textpic:nth-of-type(2), .red main, .home .ce-textpic:nth-of-type(2) main, .red [role=contentinfo], .home .ce-textpic:nth-of-type(2) [role=contentinfo] {
  background-color: #ed462f;
  color: #fff; }

.white, .white main, .white [role=contentinfo] {
  background-color: #fff;
  color: #222; }

h2 {
  font-size: xx-large;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.2; }

h3 {
  font-size: larger;
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 1em 0; }

.ce-textpic, .ce-html, .ce-twcoderdojo_date, .ce-formhandler {
  background-color: #444; }

.ce-body, .ce-html {
  padding: 1em; }

.ce-formhandler {
  padding: 2em 1em; }

.ce-layout-1, .ce-layout-3, .ce-formhandler {
  background-color: #fff; }
  .ce-layout-1, .ce-layout-1 a, .ce-layout-3, .ce-layout-3 a, .ce-formhandler, .ce-formhandler a {
    color: #000; }

.ce-layout-4 {
  background-color: #ed462f !important;
  color: #fff; }

.ce-textpic.ce-layout-1 > div {
  box-sizing: border-box;
  position: relative; }

.ce-flex-image {
  background-size: cover;
  background-position: right center; }
  .ce-flex-image span {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden; }

.ce-bodytext .icon {
  padding-left: 2em;
  background-size: contain;
  background-position: .25em center; }

dl.contact dt, dl.contact dd {
  display: block; }
  dl.contact dt p, dl.contact dd p {
    margin: 0; }

dl.contact dt {
  clear: left;
  float: left;
  width: 6em; }

dl.contact dd {
  margin-left: 6em; }

.ce-textpic li {
  margin: .5em 0; }

.back {
  display: block;
  padding: 1em; }

.ce-carousel.owl-carousel {
  display: block; }
  .ce-carousel.owl-carousel img {
    width: auto; }

.ce-layout-5 {
  background-color: transparent;
  margin: 2em 0; }

header[role=banner] {
  padding: 2em 1em 3em 1em;
  color: #000;
  background-color: #fff;
  text-align: center; }
  header[role=banner] img {
    display: none; }
  header[role=banner] a {
    color: #000;
    text-decoration: none; }
  header[role=banner] h1 {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden; }
  header[role=banner] .banner {
    width: 100%;
    max-width: 64em;
    margin: 0 auto;
    table-layout: auto; }
  header[role=banner] .home {
    display: block;
    text-align: center; }
  header[role=banner] .p-summary {
    display: inline-block;
    background-size: contain;
    width: 100%;
    margin: 0; }
    header[role=banner] .p-summary span {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden; }
    header[role=banner] .p-summary:after {
      display: block;
      content: ''; }
    header[role=banner] .p-summary.icon-coderdojo-dark-horizontal:after {
      padding-bottom: 30%; }
    header[role=banner] .p-summary.icon-coderdojo-dark-vertical {
      max-width: 200px; }
      header[role=banner] .p-summary.icon-coderdojo-dark-vertical:after {
        padding-bottom: 118.76484561%; }
  header[role=banner] .schedule {
    display: block;
    margin: 1em 0 2em 0; }
    header[role=banner] .schedule:hover .schedule-datetime {
      text-decoration: underline; }
  header[role=banner] .schedule-label,
  header[role=banner] .schedule-datetime {
    display: block; }
  header[role=banner] .schedule-datetime {
    font-weight: bold; }
  header[role=banner] .address {
    display: inline-block;
    margin: 0 auto;
    text-align: left; }
    header[role=banner] .address .icon-location {
      background-size: contain;
      padding-left: 3.5em; }
      header[role=banner] .address .icon-location:hover {
        color: #000; }
  header[role=banner] .collapsed {
    display: none; }
  header[role=banner].collapsed {
    padding: 1em 0 3em 0; }
    header[role=banner].collapsed .banner {
      display: table; }
      header[role=banner].collapsed .banner > a {
        display: table-cell;
        vertical-align: middle;
        padding: 0 1em;
        font-size: smaller;
        font-size: 0.83rem;
        line-height: 1.4; }
      header[role=banner].collapsed .banner .home {
        width: 50%; }
      header[role=banner].collapsed .banner .address {
        display: none; }
      header[role=banner].collapsed .banner .collapsed {
        display: inline; }
      header[role=banner].collapsed .banner .expanded {
        display: none; }

nav {
  margin-top: -2em; }
  nav a {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    text-align: center;
    text-decoration: none;
    padding: 1em 0;
    margin: 1em 0 0 0;
    text-transform: uppercase; }
    nav a:hover {
      color: #000; }
    nav a.active {
      padding: 1.5em 0;
      margin: 0; }

.ce-twcoderdojo_mentor {
  background-color: #fff; }
  .ce-twcoderdojo_mentor, .ce-twcoderdojo_mentor a {
    color: #000; }

.mentor {
  box-sizing: border-box; }
  .mentor figure {
    text-align: center; }
    .mentor figure h2, .mentor figure h3 {
      text-align: center; }
  .mentor img {
    border-radius: 50%;
    margin: 1em 0;
    transition: transform 200ms; }
  .mentor > a {
    display: block;
    padding: 1em 1em 3em 1em;
    text-decoration: none; }
    .mentor > a:hover img {
      transform: scale(1.05); }
  .mentor figcaption {
    text-align: left; }
  .mentor dl {
    margin: 1em 0 0 0; }
  .mentor dt, .mentor dd {
    margin: 0;
    padding: 0; }
  .mentor dt {
    float: left;
    clear: left;
    font-weight: bold; }
  .mentor dd {
    margin-left: 6em; }
  .mentor section {
    padding: 1em; }
  .mentor .mentor-header {
    margin-top: 0;
    padding-bottom: 2em;
    background-color: #f6f6f6; }

.mentors {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .mentors .mentor {
    padding: 0; }
  .mentors .mentor:nth-child(even) {
    background-color: #fef4d3; }
  .mentors .mentor:hover {
    background-color: #fbcc33; }

.mentor-skills {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.mentor-skill {
  display: inline-block;
  margin: 0 .2em .2em 0;
  padding: .2em .5em;
  background-color: #444;
  color: #fff;
  border-radius: .3em; }

.mentor-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }
  .mentor-social li {
    display: inline-block; }
  .mentor-social a {
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block; }

.ce-twcoderdojo_date header {
  padding: 1em; }

.ce-twcoderdojo_date address {
  background-size: contain;
  padding-left: 3.5em; }

.ce-twcoderdojo_date .dates-list {
  padding: 0;
  margin: 0;
  background-color: #fff;
  list-style-type: none; }
  .ce-twcoderdojo_date .dates-list, .ce-twcoderdojo_date .dates-list a {
    color: #000; }

.ce-twcoderdojo_date .date h3 {
  margin: 0 0 .5em 0; }

.ce-twcoderdojo_date .date a {
  padding: 2em 1em;
  text-decoration: none;
  display: block; }

.ce-twcoderdojo_date .date .schedule {
  margin: 1em 0; }

.ce-twcoderdojo_date .date .full {
  color: #ed462f;
  font-weight: bold; }

.ce-twcoderdojo_date .date:nth-child(even) {
  background-color: #eff5fb; }

.ce-twcoderdojo_date .date:hover {
  background-color: #2e7ac7; }
  .ce-twcoderdojo_date .date:hover, .ce-twcoderdojo_date .date:hover a {
    color: #fff; }

.ce-twcoderdojo_date .date-details > div {
  background-color: #fff; }
  .ce-twcoderdojo_date .date-details > div, .ce-twcoderdojo_date .date-details > div a {
    color: #000; }

.ce-twcoderdojo_date .date-details .map {
  display: block;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap; }

.ce-twcoderdojo_date .date-details .date-intro, .ce-twcoderdojo_date .date-details .mentor-intro {
  padding: 1em; }

.ce-twcoderdojo_date .date-details .date-intro {
  position: relative;
  padding-bottom: 2em; }

.ce-twcoderdojo_date .date-details .mentors {
  background-color: #fff; }
  .ce-twcoderdojo_date .date-details .mentors, .ce-twcoderdojo_date .date-details .mentors a {
    color: #000; }

.ce-twcoderdojo_date .date-attendees {
  width: 10em;
  height: 10em;
  position: absolute;
  bottom: -5em;
  right: 5%;
  margin: 0;
  text-align: center;
  color: #fff !important; }
  .ce-twcoderdojo_date .date-attendees .animation-wrapper, .ce-twcoderdojo_date .date-attendees > span {
    width: 100%;
    height: 100%;
    position: absolute; }
  .ce-twcoderdojo_date .date-attendees .animation-wrapper {
    z-index: 1;
    animation: attendees 12s infinite;
    fill: currentColor; }
    .ce-twcoderdojo_date .date-attendees .animation-wrapper.foreground {
      top: 0;
      right: 0;
      color: #61c93f; }
    .ce-twcoderdojo_date .date-attendees .animation-wrapper.background {
      top: .25em;
      right: -.3em;
      color: rgba(97, 201, 63, 0.2); }
  .ce-twcoderdojo_date .date-attendees.full .animation-wrapper.foreground {
    color: #ed462f; }
  .ce-twcoderdojo_date .date-attendees.full .animation-wrapper.background {
    color: rgba(237, 70, 47, 0.2); }
  .ce-twcoderdojo_date .date-attendees > span {
    display: table;
    z-index: 2; }
    .ce-twcoderdojo_date .date-attendees > span span {
      display: table-cell;
      vertical-align: middle; }

#c81, #c85 {
  position: relative; }

a.take-a-seat {
  position: absolute;
  max-width: 340px;
  top: calc(-70px - 12vw);
  left: calc(60px - 8vw);
  width: calc(120px + 12vw);
  max-height: 340px;
  height: calc(120px + 12vw);
  text-indent: 100vw;
  white-space: nowrap;
  overflow: hidden;
  background: transparent url("/fileadmin/user_upload/take-a-seat/tas-logo.svg") center center no-repeat;
  background-size: contain;
  transform: rotate(-6deg);
  margin: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

legend {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden; }

fieldset > label {
  margin: 1em 0 0 0; }
  fieldset > label span {
    display: block; }

input[type=text], input[type=email], input[type=submit], input[type=button], input[type=date], input[type=file], textarea, button {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  border: 1px solid #bbb;
  vertical-align: middle; }
  input[type=text].error, input[type=email].error, input[type=submit].error, input[type=button].error, input[type=date].error, input[type=file].error, textarea.error, button.error {
    border-bottom-width: 0; }

input[type=submit], input[type=button], button {
  cursor: pointer; }

textarea {
  min-height: 10em; }

form .controls, form .label {
  margin: 1em 0 0 0; }

form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #bbb; }

form li {
  display: table-cell; }
  form li label {
    padding: .5em; }
    form li label span {
      margin-left: .5em; }

form .mentor-skill {
  padding: 0; }
  form .mentor-skill label {
    padding: .2em .5em; }

label + .error,
fieldset ul + .error,
form dl + .error {
  padding: .5em;
  margin: 0 0 2em 0;
  background-color: #ed462f;
  color: #fff;
  text-align: center;
  position: relative; }
  label + .error:after,
  fieldset ul + .error:after,
  form dl + .error:after {
    border: .4em solid transparent;
    border-bottom-color: #ed462f;
    box-sizing: border-box;
    margin-left: -.4em;
    content: '';
    display: block;
    width: .8em;
    height: .8em;
    position: absolute;
    bottom: 100%;
    left: 50%; }

#Tx_Formhandler_UploadedFiles_portrait {
  display: list-item;
  list-style-type: disc;
  margin: 0 0 0 2em; }
  #Tx_Formhandler_UploadedFiles_portrait a {
    display: inline-block;
    padding: .5em; }
  #Tx_Formhandler_UploadedFiles_portrait:empty {
    display: none; }

@keyframes attendees {
  0% {
    transform: rotate(0deg) scale(1); }
  10% {
    transform: rotate(180deg) scale(1); }
  12% {
    transform: rotate(180deg) scale(1.1); }
  15% {
    transform: rotate(180deg) scale(1); }
  100% {
    transform: rotate(180deg) scale(1); } }

@media all and (min-width: 32em) {
  .ce-body, .ce-html {
    padding: 1em 2em; }
  .ce-formhandler {
    padding: 2em; }
  .back {
    padding: 1em 2em; }
  header[role=banner].collapsed .banner > a {
    font-size: medium;
    font-size: 1rem; }
  header[role=banner].expanded .banner {
    display: table; }
    header[role=banner].expanded .banner > a,
    header[role=banner].expanded .banner > div {
      display: table-cell;
      vertical-align: middle;
      padding: 0 1em;
      line-height: 1.4;
      width: 50%; }
  .mentor > a {
    padding: 2em; }
  .mentor figure {
    text-align: left;
    display: table;
    table-layout: auto;
    margin: 0 auto; }
    .mentor figure > * {
      display: table-cell;
      vertical-align: top; }
    .mentor figure > div {
      width: 150px; }
    .mentor figure h2, .mentor figure h3 {
      margin-top: 0;
      text-align: left; }
  .mentor figcaption {
    padding: 1em 0 0 2em; }
  .mentor section {
    padding-left: 2em;
    padding-right: 2em; }
  .mentors .mentor figure {
    width: 100%;
    margin: 0; }
  .mentor-social {
    text-align: left; }
  .ce-twcoderdojo_date header {
    padding: 1em 2em; }
  .ce-twcoderdojo_date .date a {
    padding: 2em; }
  .ce-twcoderdojo_date .date-details .date-intro, .ce-twcoderdojo_date .date-details .mentor-intro {
    padding: 1em 2em; }
  .ce-twcoderdojo_date .date-details .date-intro {
    padding-bottom: 2em; } }

@media all and (min-width: 48em) {
  .ce-textpic.ce-layout-2,
  .ce-textpic.ce-layout-3 {
    display: flex; }
    .ce-textpic.ce-layout-2 > div,
    .ce-textpic.ce-layout-3 > div {
      box-sizing: border-box;
      width: 50%; }
    .ce-textpic.ce-layout-2 .ce-flex-image,
    .ce-textpic.ce-layout-3 .ce-flex-image {
      padding: auto !important; }
    .ce-textpic.ce-layout-2 img,
    .ce-textpic.ce-layout-3 img {
      display: none; }
    .ce-textpic.ce-layout-2:nth-last-of-type(odd),
    .ce-textpic.ce-layout-3:nth-last-of-type(odd) {
      flex-direction: row-reverse; }
      .ce-textpic.ce-layout-2:nth-last-of-type(odd) .ce-flex-image,
      .ce-textpic.ce-layout-3:nth-last-of-type(odd) .ce-flex-image {
        background-position: left center; }
  .ce-body, .ce-html {
    padding: 1em 2em; }
  .ce-formhandler {
    padding: 2em; }
  header[role=banner].collapsed .banner .home {
    width: 33%; }
  header[role=banner].collapsed .banner .address {
    display: table-cell;
    padding-left: 3.5em; }
  header[role=banner].expanded .banner > div {
    text-align: left; }
  header[role=banner].expanded .schedule-datetime {
    font-size: large;
    font-size: 1.25rem; }
  .mentor figure > div {
    width: 200px; }
  .ce-twcoderdojo_date .date {
    box-sizing: border-box;
    display: inline-block;
    width: 50%; }
    .ce-twcoderdojo_date .date:nth-child(even) {
      background-color: transparent; }
    .ce-twcoderdojo_date .date:nth-child(4n+2), .ce-twcoderdojo_date .date:nth-child(4n+3) {
      background-color: #eff5fb; }
    .ce-twcoderdojo_date .date:hover {
      background-color: #2e7ac7; }
      .ce-twcoderdojo_date .date:hover, .ce-twcoderdojo_date .date:hover a {
        color: #fff; }
  fieldset > label span, .label {
    display: block;
    clear: left;
    float: left;
    width: 25%;
    line-height: 2.8; }
  fieldset > label input[type=text], fieldset > label input[type=email], fieldset > label input[type=submit], fieldset > label input[type=date], fieldset > label input[type=file], fieldset > label textarea {
    width: 75%; }
  fieldset > label + .error {
    margin-left: 25%; }
  fieldset .mentor-skills {
    margin-left: 25%; }
  .label + ul, .label + ol {
    box-sizing: border-box;
    width: 75%;
    margin-top: 1em; }
    .label + ul + .error, .label + ol + .error {
      margin-left: 25%; }
  form .controls {
    margin-left: 25%; } }

@media all and (min-width: 64em) {
  .mentors {
    display: flex;
    flex-wrap: wrap; }
    .mentors .mentor {
      display: inline-block;
      display: flex;
      vertical-align: top;
      width: 50%; }
      .mentors .mentor > a {
        padding: 1em 2em 3em 2em; }
      .mentors .mentor figure > div {
        width: 150px; }
    .mentors .mentor:nth-child(even) {
      background-color: transparent; }
    .mentors .mentor:nth-child(4n+2),
    .mentors .mentor:nth-child(4n+3) {
      background-color: #fef4d3; }
    .mentors .mentor:hover {
      background-color: #fbcc33; }
  .mentor-profile > section.card {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    vertical-align: top; }
    .mentor-profile > section.card:nth-of-type(even) {
      padding-right: 1em; }
    .mentor-profile > section.card:nth-of-type(odd) {
      padding-left: 1em; } }

@media all and (min-width: 640px) {
  .ce-twcoderdojo_date .date-details > div {
    display: table;
    width: 100%;
    table-layout: fixed;
    min-height: 320px; }
    .ce-twcoderdojo_date .date-details > div > *, .ce-twcoderdojo_date .date-details > div .map {
      position: relative;
      display: table-cell;
      vertical-align: top;
      width: auto;
      height: auto;
      background-size: cover; }
  .ce-twcoderdojo_date .date-attendees {
    right: -4em; } }

@media all and (max-width: 64em) {
  .ce-flex-image {
    padding: 0 !important; } }

/*# sourceMappingURL=33_above.css.map */